<!doctype html>
<html class="no-js profile-page profile-light" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Republic | {{title}}</title>
    <!-- build:css css/libraries.min.css -->
    <!-- bower:css -->
    {{!-- <link rel="stylesheet" href="bower_components/animate.css/animate.css"> --}}
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app_override.css">
    <!-- endbuild -->
    <!-- build:js js/vendor/modernizr.min.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    {{> topbar-full-anonymous }}
    <div id="main" role="main">
      {{> body }}
    </div>
    {{>footer}}
 
 {{>js}}

  </body>
</html>