@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}


/* all app scss styles here */
html, body {
	-webkit-font-smoothing: antialiased;
	height:100%;
	background:$smoke;
	font-family:'Roboto Condensed', helvetica, arial, sans-serif;
}

.slideUp {
    position: fixed;
    top: 0;
    transition: top 0.4s ease-in-out;
    width: 100%;
    z-index: 999;
}

.button {
	padding-bottom:1.1rem;
}

.button.dark {
	background:$oil;
}

hr {
	margin:0;
}

#main {
	width:100%;
	height:100%;
	display:flex;
	display:-webkit-flex;
	flex-flow: column nowrap;
	-webkit-flex-flow: column nowrap;
	background:#f9f9f9;
}

//TOPBAR
.top-bar-section li:not(.has-form) a:not(.button) {
	font-weight:700;
	padding-right:48px;
	// text-transform:uppercase;
}

.top-bar input {
	border:1px solid $oil;
}

.top-bar-section ul li {
	background:$white;
}

.top-bar {
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
 }

li.sign-in-top {
	background:$white;
	padding-right:24px;
}

.name {
	padding:20px;
}

//avatar
.avatar {
	height:100%;
	padding:12px 0;
}

.avatar-icon {
	width:56px;
	height:56px;
	border-radius:28px;
	border:2px solid $smoke;
	background:url(../img/lips.png) no-repeat 50% 50%;
	background-size: cover;
	box-shadow:0 1px 2px rgba(0,0,0,.2);
	display:flex;
	justify-content:center;
	align-items:center;
}

.sizes {
	color:$white;
}

.top-bar-section .has-dropdown > a:after {
	border-color: $oil transparent transparent transparent;
}

.top-bar-section li a {
	font-weight:700;
	// text-transform:uppercase;
}

//big search:
.big-search {
	margin:24px;
		-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

//home-search section 
.home-search {
	margin-top:-3px;
	// min-height:50vw;
	// height: 50vw;
	// max-height:50vw;
	background:orange;
	background:url(../img/bg/jacketlady-blue.jpg) no-repeat 50% 50%;
	// background: -moz-linear-gradient( 30deg, rgb(44,70,176) 0%, rgb(84,198,198) 100%), url(../img/bg/jacketlady.jpg) no-repeat 50% 50%;
 //    background: -webkit-linear-gradient( 30deg, rgba(44,70,176, .3) 0%, rgba(84,198,198, .3) 100%), url(../img/bg/jacketlady-blue.jpg) no-repeat 50% 50%;
 //    background: -ms-linear-gradient( 30deg, rgb(44,70,176) 0%, rgb(84,198,198) 100%), url(../img/bg/jacketlady.jpg) no-repeat 50% 50%;
	background-size:cover;
	padding:84px 24px;
	max-width:100vw;
	// min-height:50vw;

	h1 {
			color:$white;
	letter-spacing:-1px;
	font-weight:700;
	}

	h4 {
		color: $white;
	}

	@include placeholder {
    color: rgba($secondary-color,.8);
}

	a {
		color:$white;
		font-weight: 700;


		&:hover {
			text-decoration: underline;
		}
	}

}

//home sign in section
.sign-in {
	// background:$secondary-color;
	padding:60px 0;
}

.sign-in-box {
	background:$white;
	padding:24px 12px 8px 12px;

	h3 {
		color: $secondary-color;
		margin-bottom: 18px;
	}

	input {
		color:$secondary-color;
	}

	@include placeholder {
    color: rgba($secondary-color,.8);
}
}

.button.blank {
	background:none;
	color:$oil;
}


// happening now

.is-live {
	display:none;
}

.happening-now {
	background:$smoke;
	padding:84px 12px;

	.section-title h2 {
		color: $oil;
	}

	.is-live {
		display: inline-block;
	}

	.thumbnail {
		// max-width: 600px;
		margin:0 auto;
	}


}

.open-blink {
	content: ' ';
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 20px;
	border-radius: 50%;
	background-color: $secondary-color;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

 .open-blink:before {
	content: ' ';
	position: absolute;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 30px;
	height: 30px;
	opacity: 0.1;
	border-radius: 50%;
	background-color: $secondary-color;
}

//start-listening
.start-listening {
	background:$steel;
	padding:84px 12px;

	.section-title h2{
		color:$oil;
	}

	h3.topic a{
		font-weight: 700;
		font-size: rem-calc(18);
		text-transform: capitalize;
		text-decoration: underline;
		color:$tuatara;
	}
}


//GRad Button
$gradient: linear-gradient(45deg, $secondary-color, $warning-color);
$gradient2: linear-gradient(45deg, $primary-color, $secondary-color);
$gradient3: linear-gradient(45deg, $smoke, $white);

.grad-button {
  color: transparent;
  font-size: 2rem;
  // letter-spacing: 1px;
  border: 4px solid transparent;
  border-image: $gradient;
  border-image-slice: 1;
  background: $gradient;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  transition: all 0.2s ease;
  padding:12px;

  
  &:hover {
  color: transparent;
  border-image: $gradient2;
  border-image-slice: 1;
  background: $gradient2;
  -webkit-background-clip: text;
  text-fill-color: transparent;


  }

	// &:before {
	// 	content: "";
	// 	position:absolute;
	// 	top:0;
	// 	left:0;
	// 	right:0;
	// 	bottom:0;
	// 	background:$white;
	// 	z-index: 0;
	// }

}

// TITLEBAR 

.titlebar {
	flex:1 0;
	// background:rgba(68,74,89,.1);	
	// margin:-24px 0 0 -24px;
	padding:12px;
	display:flex;
	display:-webkit-flex;
	-webkit-justify-content:space-between;
	-webkit-align-items:center;
}

.sort-bar {
	-webkit-flex: 1 0;
	background:rgba(68,74,89,.05);
	padding:12px;
	display:-webkit-flex;
	-webkit-flex-flow:row nowrap;
	-webkit-justify-content:center;
	-webkit-align-items:baseline;
}

.sort-bar h5, .sort-bar h5 a {
	margin:0;
	color: $white;
}

.sort-bar h5 a.active {
	color:$tuatara;
}

.sort-bar .button, .sort-by .button {
	margin:0;
	background:rgba(68,74,89,.1);
}

.sort-bar .button:hover, .sort-by .button:hover {
	background:rgba(68,74,89,.2);
}


.sort-bar .button.selected, .sort-by .button.selected {
	background:$secondary-color;
}

.sort-by {
	margin:0;
}

.titlebar h3, .titlebar h5 {
	margin:0;
	font-weight:300;
	color:$tuatara;
}

.titlebar h3 strong, .titlebar h5 strong {
	color:$jet;
	font-weight:300;
}

.titlebar h3 a, .titlebar h5 a {
	color: $jet;
}

.titlebar h5 a.active {
	color:$primary-color;
}

#classifications {
	display:flex;
	flex-flow:row nowrap;
	justify-content: space-between;
	padding:12px;
	padding-bottom:0;
	@media #{$medium-up} {
		padding:24px;
		padding-bottom:0;
	}
}

a.classification-tag {
	flex:1 1 auto;
	// border:1px solid $oil;
	padding:12px;
	text-align:center;
	margin-right:6px;
	background:rgba($gainsboro,.7);
	color:$oil;
	transition:background .2s;
	box-shadow:0 1px 2px rgba($oil, .2);
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		background:rgba($white,.5);
	}
}

a.classification-tag.selected {
		background:rgba($secondary-color,1);
		color:$white;
		box-shadow:inset 0 1px 2px rgba($oil,.2);
}

// #filter-results {
// 	display:flex;
// 	flex-flow:column nowrap;
// 	justify-content:space-between;
// 	align-items:stretch;
// }

// #filter-column {
// 	flex:0 0 10vw;
// 	min-width:10vw;
// 	border:1px solid red;

// }

//FOOTER

footer {
	// display:flex;
	// flex-flow:column nowrap;
	// justify-content:space-between;
	// align-items:center;
	// align-content:center;
	padding:84px 12px;
	padding-bottom:12px;
	background:$dark-gray;
	color:$ghost;



	a {
		color: $smoke;
		font-weight: 700;
	}

	a:hover {
		color: $white;
		text-decoration: underline;
	}

	ul {
		text-align: center;
		float:none;
	}

	ul li {
		float: none;
		display: inline-block;
	}

	.footer-links {
		margin-top: 48px;
		padding-top:84px;
		text-align:center;
		margin:0 auto; 
	}

	.social {
		text-align: center;
		font-size: rem-calc(36);
		// max-width: 48px;
		margin-bottom: 84px;
	}

	.copyright {
		color:$info-color;
	}


}

footer * {
	min-height:84px;
}

footer ul  {
	// display:flex;
	// flex-flow:row wrap;
	// justify-content:space-around;

}

footer ul li {
	// flex:1 1 calc(100/8);
}

// THUMBNAILS!!


#image-width:after {
	content: $small-breakpoint;
}

#thumb-container, .thumb-container {
	 display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
	background:none;
	padding:6px;
	justify-content:flex-start;
	align-items:flex-start;
}

.more-thumbs {
	flex:0 0 auto;
	align-self:center;
}


.thumbnail {
	padding:6px;
	width:100%;
	background: none;
	display:block;
	cursor:pointer;
}

.thumbnail-inside {
	background: $white;
	box-shadow:0 1px 3px rgba(0,0,0,.2);
	display:flex; display:-webkit-flex;
	flex-flow: row nowrap;
	justify-content: stretch;
	align-items: stretch;
	padding:12px 12px 12px 24px;
	flex:1 100%;
	cursor:pointer;
}


.thumb-image-holder, .thumb-image {
	width: 10vw;
	height: 10vw;
	min-width:10vw;
	min-height: 10vw;
	margin:12px;
	z-index:0;
	display:flex; display:-webkit-flex;
	flex-flow:row nowrap;
	position:relative;
}

.thumb-image {
	margin:0;
	background:url(../img/thumbs/thumb0.jpg) no-repeat 50% 50%;
	background-size:cover;
	-webkit-filter: sepia(.1) opacity(.7); 
	// -webkit-filter: grayscale(.5);
	// filter:sepia(1) hue-rotate(180deg) opacity(.2);
	// filter:hue-rotate(100);
	flex:0;
	-webkit-flex:0;
}

.follow-topic {
	font-size:rem-calc(16);
	background:rgba($charcoal,.3);
	padding:6px 6px 3px 6px;
	font-weight:400;
	text-transform:uppercase;
	margin-left:12px;

	&:hover {
		cursor: pointer;
		background:rgba($charcoal,.5);
	}
}

.thumb-overlay {
	position:absolute;
	z-index:10;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background:rgba($info-color, .2);
	transition: background .5s ease;
	display:flex; display:-webkit-flex;
	flex-flow:row nowrap;
	-webkit-flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	-webkit-justify-content:center;
	-webkit-align-items:center;
}

.thumb-overlay:after {
	content:"";
	flex:0;
	width: 0; 
	height: 0; 
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
	
	border-left: 44px solid rgba(255,255,255,.8);
}

// HOVERS!

.thumbnail-inside:hover {
	box-shadow:0 2px 15px rgba(0,0,0,.2);
}

.thumb-image-holder:hover .thumb-overlay {
 	background:rgba($secondary-color, .7);
 	// $svg-gradient-shim-threshold: 1 !global;
  // @include background-image(linear-gradient(120deg, #2ac363, #cd8c14, #9c4cc2));
  // width: 80px;
}

.thumbnail-inside:hover .thumb-overlay:after {
	border-left: 44px solid rgba(255,255,255,1);
}

.thumb-title:hover {
	text-decoration:underline;
}

.no-touch .thumb-listenlater {
	transition:background-color .5s ease;
}

.no-touch .thumb-listenlater:after {
	content:'add to playlist';
	text-transform: uppercase;
	font-size:rem-calc(12);
	// margin-left:-66px;
	opacity:0;
	color:$white;
	background:$oil;
	padding:3px 6px;
	margin-left:-58px;
	margin-top:-36px;
	transition:all .2s ease;
	position:absolute;
}

.no-touch .thumb-listenlater:hover {
	background-color:$oil;
	color:#fff;
}

.thumb-listenlater:hover:after {
	
	opacity:1;
}


.thumb-right {
	background: none;
	flex: 1 1 75%;
	margin: 12px 12px 12px 0;
	padding:0;
	display:flex; display:-webkit-flex;
	flex-flow:column nowrap;
	-webkit-flex-flow:column nowrap;
	justify-content:space-between;
	align-items: flex-start;
}

.thumb-info {
	flex: 1 0 auto;
	// overflow-y:hidden;
}

h1.thumb-title {
	margin-top:0;
	font-size: rem-calc(20);
	line-height: 21px;
	font-weight: 700;
	text-decoration:none;
	transition:text-decoration .5s ease;
}

.is-live {
	background:$secondary-color;
	color:$white;
	padding:0 4px;
	border-radius:2px;
	margin-right: 4px;
	font-size:rem-calc(18);
}

.thumb-actions {
	flex:0 0 42px;
	-webkit-flex:0 0 42px;
	align-self: flex-end;
	color:$tuatara;
	background: none;
	padding: 12px 0;
	display:flex; display:-webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	width:100%;
	border-top: 1px solid $smoke;
}

.thumb-listenlater{
	// height:42px;
	// font-size:rem-calc(12);
	// display:flex; display:-webkit-flex;
	// justify-content:center;
	// align-items:center;
	// -webkit-justify-content:center;
	// -webkit-align-items:center;
	// margin-left: 6px;
	// // background:$info-color;
	// margin:0;
	// padding:0 24px 0 0;
	// transition:background-color .5s ease;
	// transition:width .5s ease;
	// line-height:14px;
	// text-align:center;
	width:44px;
	height:44px;
	border-radius:22px;
	text-align:center;
	padding-top:12px;
	background:$ghost;
	font-size:rem-calc(14);
	align-self:flex-end;
	color:$tuatara;
}



.thumb-listenlater.selected {
	background:$oil;
	color:$white;
}

.thumb-duration, .thumb-plays, .thumb-timeago {
	margin-right:6px;
	// background:$vapor;
}

.thumb-timeago {
	margin-left:0;
}

p.thumb-meta {
	font-size: rem-calc(18);
	font-weight: 300;
	color: $secondary-color;
	line-height: rem-calc(20);
	margin-bottom:10px;
}

.thumb-meta-meta {
	font-family:'Roboto Condensed';
	color:$tuatara;
	font-weight:400;
}

.thumb-publisher {
	color:$secondary-color;
	font-weight:400;
}

.thumb-publisher:hover {
	text-decoration:underline;
}

.thumb-classification {
	// background:$white;
	// color:$secondary-color;
	// font-size:rem-calc(12);
	// padding:2px 6px;
	// border:1px solid $secondary-color;
	// border-radius:2px;
	// margin-left:3px;
	// font-weight:400;
	color:$tuatara;
	text-transform:capitalize;
}


// .thumb-timeago {
// 	color: $charcoal;
// 	margin-left: 12px;
// }

p.thumb-logline {
	font-family: 'adobe-caslon-pro', times, serif;
	color: $tuatara;
	font-size:rem-calc(14);
	line-height: rem-calc(18);
	margin-bottom: 12px;

	a {
		color: $tuatara;
	}

}



// TOPICS

.topics {
	display:flex;
	background:$charcoal;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;
	align-content: center;
}

.publishers {
	background:$white;
	padding-bottom:84px;
}

.topics-holder{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;
	flex: 0 1 100vw;
	padding:48px 6px 84px 6px;
}

.section-title {
	flex:1 0 100%;
	// border:1px solid red;
	width:100%;
	align-self:center;
	padding-left:6px;
	margin:0;
}

.section-title h2 {
	color:$smoke;
	font-weight:700;
	text-transform:uppercase;
	font-size:1.6em;
	margin:0 0 24px 0;
	text-align:center;
}

.subheader {
	font-family:'adobe-caslon-pro', times, serif;
	margin-bottom:48px;
}

.topics .subheader {
	color:$white;
}

.publishers .section-title h2 {
	color:$oil;
}

.topic-tile {
	padding:6px 6px 3px 6px;
	flex:1 1 100%;
}

.publisher-tile {
	padding:6px;
	// flex:0 1 50%;
}

.publisher-inside {
	padding:48px;
	// display:flex;
	border:1px solid $smoke;
}

.publisher-classification {
	color:$charcoal;
	padding: 3px 6px;
	border-radius:2px;
	width:auto;
	text-align:center;
	text-transform:capitalize;
}


.topic-inside, .topic-image {
	flex:1 0 100%;
	width: 100%;
	height: 15vw;
	min-width:100%;
	min-height: 6vh;
	margin:0;
	z-index:0;
	display:flex; display:-webkit-flex;
	flex-flow:row nowrap;
	position:relative;
}



.topic-image {
	margin:0;
	background:url(../img/thumbs/thumb0.jpg) no-repeat 50% 50%;
	background-size:cover;
	-webkit-filter: sepia(1) hue-rotate(180deg) opacity(.4); 
	// -webkit-filter: grayscale(.5);
	// filter:sepia(1) hue-rotate(180deg) opacity(.2);
	// filter:hue-rotate(100);
	flex:0;
	-webkit-flex:0;
	transition:-webkit-filter .3s ease;
}

.publisher-image {
	-webkit-filter: opacity(.8);
	transition:-webkit-filter .5s ease;
	}

.publisher-tile:hover .publisher-image {
	-webkit-filter:opacity(1);
}

.topic-overlay, .publisher-overlay {
	position:absolute;
	z-index:10;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background:rgba(97,111,123,.5);
	transition: background .5s ease;
	display:flex; display:-webkit-flex;
	flex-flow:row nowrap;
	-webkit-flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	font-size: rem-calc(24px);
	color:$white;
	text-transform:capitalize;
	padding:24px;
	cursor:pointer;
	transition:background .2s ease;
}

// .publisher-overlay {
// 	background:$oil;
// 	color:$oil;
// }

.topic-tile:hover .topic-image {
	-webkit-filter:sepia(.2) hue-rotate(0) opacity(.4);
}


.topic-tile:hover .topic-overlay {
	background:rgba(97,111,123,.1);
}

//tags: results

ul.tags, ul.tags-classification {
	padding:12px 12px 0 12px;
	// margin-top:24px;
	margin-bottom:0;

	li {
	font-size: rem-calc(14);
	background:$ghost;
	color:$tuatara;
	padding:3px 18px;
	border-radius:18px;
	margin-left:4px;
	margin-bottom:6px;

	&:hover {
		background: $white;
	}




}

	// li.classification-tag {
	// 	background:$white;
	// }

	li.classification-tag span {
		display: inline-block;
	}
	
}

ul.tags-classification li {
	background:$charcoal;
	color:$white;
	transition:background .2s;

	&:hover {
		background:$tuatara;
	}
}
	
	ul.tags li:first-child {
		// margin-left:24px;
		background: none;
		padding:0;
		padding-top:3px;
		margin-right: 6px;
		color:$base;
	}


@media #{$small-up} { }
@media #{$small-only} { 

.sign-in {
	padding:0;
}

}

@media #{$medium-up} { 

.thumb-info {
	flex: 1 1 calc(10vw - 42px);
	-webkit-flex: 1 1 calc(10vw - 42px);
	// overflow-y:hidden;
}

	#thumb-container {
		padding:18px;
	}

	.thumbnail {
		padding: 6px;
	}

	.thumbnail-inside {
		padding:0;
	}

	.sort-bar {
	padding:24px 24px;	
	// justify-content: flex-end;
	}

	.titlebar {
		padding:24px;
		
	}

	.publishers-holder {
		max-width: 100vw;
		padding:10vw;
	}

.topic-tile, .publisher-tile {
	padding:6px 6px 6px 6px;
	flex:1 1 50%;
}

.topic-inside, .topic-image {
	flex:1 0 50%;
	width: 50%;
	height: 15vw;
	min-width:100%;
	min-height: 10vh;
	}

		ul.tags {
		padding:24px 24px 0 24px;
	}



}
@media #{$medium-only} { 

	.thumb-image-holder, .thumb-image {
		margin:12px;
		width: 20vw;
		height: 20vw;
		min-width:20vw;
		min-height: 20vw;
	} 

	.thumb-image {
		margin: 0;
	}

	// .thumb-right {
	// 	margin:12px 12px 0 0;
	// }

}

@media  #{$large-up} { 

	.home-search h1 {
	font-size: 5em;

}
	

	
	.thumbnail {
		width:50%;
	}


	.thumb-image-holder, .thumb-image {
		width: 15vw;
		height: 15vw;
		min-width:15vw;
		min-height: 15vw;
	}

	.button-group.round > *, .button-group > li {
	margin:0;
}

.topics {
	padding:48px;
}

.topic-tile, .publisher-tile {
	padding:6px 6px 6px 6px;
	flex:1 1 33.33%;
}

.publisher-tile {
	flex: 0 1 33.33%;
}

.topic-inside, .topic-image {
	flex:1 0 33.33%;
	width: 33.33%;
	height: 33.33%;
	min-width:100%;
	min-height: 10vh;
	}




}
@media #{$large-only} { 



}

// IPAD 

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.thumbnail {
		width:50%;
	}


	.thumb-image-holder, .thumb-image {
		width: 15vw;
		height: 15vw;
		min-width:15vw;
		min-height: 15vw;
	}


}

@media #{$xlarge-up} { 
	.thumbnail {
		width:33.33%;
	}

	.home-search {
		background-position: 50% 20%;
	}

	// .thumb-image-holder, .thumb-image {
	// 	width: calc(100% - (100vw/1920));
	// 	height: calc(100% - (100vw/1920px));
	// 	min-width:calc(100% - (100vw/1920px));
	// 	min-height: calc(100% - (100vw/1920px));
	// } 


	.thumb-image-holder, .thumb-image {
		width: 210px;
		height: 210px;
		min-width:210px;
		min-height: 210px;
	} 

	.thumb-info {
	flex: 1 1 calc(210px - 42px);
	-webkit-flex: 1 1 calc(210px - 42px);
	// overflow:hidden;
}



.topics-holder, .publishers-holder {
	padding: 48px 15vw 84px 15vw;
}

.topic-tile, .publisher-tile {
	padding:6px 6px 6px 6px;
	flex:1 1 25%;
}

.topic-inside, .topic-image {
	flex:1 0 25%;
	width: 25%;
	height: 200px;
	min-width:100%;
	min-height: 200px;
	}

	.section-title h2 {

	margin:0 0 24px 0;
}


}

@media #{$xxlarge-up} {
	.thumbnail {
		width:25%;
	} 

	// .thumb-image {
	// 	width: 8vw;
	// 	height: 8vw;
	// 	min-width:8vw;
	// 	min-height: 8vw;
	// } 

	// .thumb-info {
	// 	flex: 1 1 calc(8vw - 42px);
	// 	overflow-y:hidden;
	// }
	// .thumb-right {
	// margin: 24px 24px 0 0;
	// }

	p.thumb-meta {
		margin-bottom: 10px;
	}

	h1.thumb-title {
		font-size: 1.4rem;
		line-height: 22px;
	}
}
@media #{$xxlarge-only} { }