/* all app scss styles here */

html,
body {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    font-weight: 300;
    color: $almost-black;
    background: $dark-gray;
}

button, .button {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: rem-calc(1);
    border-width: 4px;

    &.small {
        border-width: 2px;
    }

    &.large {
        border-width: 4px;
    }

    .info {
        background: $topbar-link-color;

        & .hollow {
            border-color: $topbar-link-color;
        }
    }

    &:hover, &:active {
        background: $secondary-color;
    }
}

//avatar
.avatar {
    height: 100%;
    padding: 12px 0;
}

.avatar-icon {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    border: 2px solid $smoke;
    background: url(../img/lips.png) no-repeat 50% 50%;
    background-size: cover;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}