@keyframes dash {
    50% {
        stroke-dasharray: 20,19;
        stroke: #ffed00;
        transform: scaleX(0.9) scaleY(0.9);
    }

    100% {
        stroke-dashoffset: -234;
    }
}

.explore-index {
    background: $silver;
    padding-top: 90px;

    h2 {
        text-align: center;
        font-size: rem-calc(18);
        letter-spacing: rem-calc(2);
        color: $secondary-color;
        text-transform: uppercase;
        margin-top: 48px;
    }

    h6 {
        font-family: $body-font-family;
        font-weight: 300;
        font-size: rem-calc(14);
        text-transform: uppercase;
        color: $charcoal;
        letter-spacing: rem-calc(1);

        em {
            font-style: normal;
            color: $jet;
        }
    }

    .explore-page-third {
        @extend .medium-4;

        @extend .columns;

        padding: 0;
        padding-right: 12px;
        padding-top: 12px;

        &:last-of-type {
            padding-right: 0;
        }
    }

    #results {
        @extend .medium-12;

        @extend .columns;

        @extend .clearfix;

        padding: 16px;

        #results-grid {
            margin-bottom: 24px;
        }

        .results-count {
            padding: 0 6px;

            p {
                font-weight: 700;
                display: inline-block;
                color: $alert-color;
                margin-bottom: 6px;
                border-bottom: 4px solid $alert-color;
                width: auto;
                margin: 0 auto;
                margin-bottom: 24px;
                line-height: rem-calc(24);
                padding-bottom: 12px;
            }

            .small-filter {
                @extend .float-right;

                width: 140px;

                select {
                    background-color: $warning-color;
                    padding-left: 12px;
                }
            }
        }
    }

    select {
        background-color: $warning-color;
        line-height: 24px;
        height: 48px;
        font-weight: 500;
    }

    hr {
        max-width: 100%;
        width: 100%;
        border-color: $light-gray;
    }

    #main {
        // @extend .row;

        .filters {
            @extend .clearfix;

            padding: 48px 20px 12px 20px;

            // .category-buttons {
            //     @extend .button-group;

            //     @extend .expanded;

            //     float: none;
            //     margin-bottom: 12px;

            //     .button {
            //         background: $warning-color;
            //         color: $brand-purple;
            //         font-size: rem-calc(12);
            //         line-height: rem-calc(14);
            //         letter-spacing: 0;
            //         padding: 24px 6px;

            //         .icon {
            //             background-color: $brand-purple;
            //             margin-bottom: 12px;
            //         }

            //         &:hover {
            //             background: $info-color;
            //         }

            //         &.active {
            //             background-color: $brand-purple;
            //             color: white;

            //             .icon {
            //                 background-color: white;
            //             }
            //         }
            //     }
            // }
       
        }
    }
}

#loading-animation {
    // @extend .row;

    @extend .clearfix;

    margin-top: 12px;
    height: 56px;

    & svg {
        display: block;
        height: 36px;
        margin: 0 auto;
    }

    path {
        stroke-dasharray: 36,3;
        stroke-dashoffset: 0;
        animation: dash 3s linear infinite;
        transform-origin: center center;
    }
}