.landing-container {
    // @include landing-page-column;
    @extend .medium-10;

    @extend .medium-offset-1;

    @extend .large-8;

    @extend .large-offset-2;

    @extend .columns;

    @extend .text-center;

    .lead {
        margin-bottom: 60px;
        font-size: rem-calc(16);
        line-height: rem-calc(30);
    }
}

@mixin hollow-button($color) {
    border-color: $color;
    color: $color;
}

$h1-bottom-margin: 48px;

.svg-icon {
    display: block;
    max-width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 12px;

    @extend .clearfix;

    svg {
        max-width: 36px;
        max-height: 36px;

        * {
            fill: currentColor;
        }
    }
}

.icon {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 24px;
    transition: background-color .2s ease;
}

button {
    @extend .button;

    @extend .hollow;

    @extend .large;

    @extend .secondary;

    margin: 12px;
    border-width: 2px;

    &:hover, &:active, &:focus {
        background: none;
        border-color: $primary-color;
        color: $primary-color;
    }

    &.large {
        border-width: 3px;
    }
}

.root-index {
    // padding-top: 100px;
    background: $talk-dark;
    overflow: hidden;

    .row {
        max-width: 1200px;

        @extend .text-center;

        padding: 12px;

        h2 {
            color: $secondary-color;
            margin-bottom: $h1-bottom-margin;
            font-size: rem-calc(24);
            text-transform: uppercase;
            letter-spacing: rem-calc(5);
        }
    }

    h1, h2 {
        @extend .text-center;

        // font-size: rem-calc(48);

        // text-transform: uppercase;
        color: white;
        letter-spacing: rem-calc(6);
        margin-bottom: $h1-bottom-margin;
    }

    section {
        padding: 96px 0;

        &.light {
            background: $silver;
        }

        &.blue {
            background: $primary-color;

            button:hover, button:active {
                @include hollow-button(white);
            }
        }

        &.white {
            background: white;
        }

        &.dark {
            background: $talk-dark;
            color: $info-color;
        }

        &.yellow {
            background: $warning-color;
            columns: $brand-purple;
        }

        &.turquoise {
            background: $secondary-color;
            color: white;

            button {
                @include hollow-button($warning-color);

                &:hover, &:active {
                    @include hollow-button($alert-color);
                }
            }
        }
    }

    #talk-collection, #talk-teasers {
        @extend .clearfix;

        margin-bottom: 48px;
    }

    #claim {
        text-align: center;
        padding-bottom: 96px;

        // padding: 30vh 0 40vh 0;

        @include breakpoint(medium) {
            padding-top: 162px;
        }


        .down-arrow {
            width: 28px;
            height: 28px;
            background-color: white;
            margin-top: 96px;
            animation-duration: 2s;
        }

        header {
            @extend .clearfix;
        }

        h1 {
            color: white;
            text-transform: uppercase;

            @include breakpoint(large) {
                font-size: rem-calc(42);
                line-height: rem-calc(48);
                letter-spacing: rem-calc(6);
                margin-bottom: 24px;
            }
        }

        .lead {
            font-size: rem-calc(18);
            letter-spacing: rem-calc(0.5);
            margin-bottom: 0;

            a {
                font-weight: 500;
                color: $info-color;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        a {
            color: $secondary-color;
        }

        .container {
            // @include landing-page-column;
            float: left;

            .claim-cta-half {
                @extend .medium-6;

                @extend .columns;

                padding: 0;
                padding-top: 12px;

                &:last-child {
                    padding-top: 6px;
                }

                .icon {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0;
                    background-color: $secondary-color;
                    margin-right: 12px;
                }

                a:hover .icon {
                    background-color: $primary-color;
                }

                @include breakpoint(medium) {
                    text-align: right;
                    padding-top: 24px;

                    &:last-child {
                        text-align: left;
                        padding-top: 24px;
                    }
                }


                // button {
                //     height: 60px;
                // }
           
            }
        }
    }

    #listen-now {
        border-bottom: 1px solid $light-gray;
        padding-top: 60px;

        .listen-interstitial {}

        .category-buttons {
            @extend .button-group;

            @extend .expanded;

            float: none;
            margin-bottom: 48px;

            .button {
                background: $warning-color;
                color: $brand-purple;
                font-size: rem-calc(12);
                line-height: rem-calc(14);
                letter-spacing: 0;
                padding: 24px 6px;

                .icon {
                    background-color: $brand-purple;
                    margin-bottom: 12px;
                }

                &:hover {
                    background: $info-color;
                }
            }
        }
    }

    #coming-up {
        h2 {
            margin-bottom: 60px;
        }

        .lead {
            color: white;
        }
    }

    #categories {
        h2 {
            margin-bottom: 60px;
        }

        #talk-collection {
            $color: $brand-purple;

            .category {
                @extend .medium-6;

                @extend .columns;

                padding: 48px 24px;

                *:hover > * {
                    text-decoration: none;

                    // color: $alert-color;
               
                }

                *:hover > h3 {
                    text-decoration: underline;
                }

                *:hover > .icon {
                    // background-color: $alert-color;
               
                }

                *:hover > .lead {
                    // color: $alert-color;
               
                }

                .icon {
                    background-color: $color;
                }

                h3 {
                    color: $color;

                    &:active, &:hover {
                        // color: $alert-color;

                        // text-decoration: underline;
                   
                    }
                }

                .lead {
                    color: $color;

                    &:hover, &:active {
                        // color: $alert-color;

                        // text-decoration: underline;
                   
                    }
                }

                hr {
                    border-color: $secondary-color;
                    max-width: 100px;
                    margin: 0 auto;
                    margin-top: 48px;
                }
            }
        }
    }

    #publishers {
        #publisher-collection {
            .publisher {
                @extend .medium-6;

                @extend .columns;

                padding: 48px 24px;

                h4 {
                    font-family: $body-font-family;
                    font-weight: 700;
                }

                *:hover > h4 {
                    text-decoration: underline;
                    color: $almost-black;
                }

                h4, .lead {
                    color: rgba($dark-gray, 0.8);
                }

                img {
                    max-width: 300px;
                }

                hr {
                    border-color: $light-gray;
                    max-width: 100px;
                    margin: 0 auto;
                    margin-top: 48px;
                }
            }

            div:last-child {
                @extend .end;
            }

            div:last-child:not(:nth-child(even)) {
                @extend .medium-offset-3;
            }
        }
    }

    .landing-feature {
        padding-top: 72px;
        padding-bottom: 72px;
        border-bottom: 1px solid $light-gray;

        .landing-half {
            @extend .text-left;

            @extend .medium-6;

            @extend .columns;

            @include breakpoint(medium) {
                min-height: rem-calc(900);
                position: relative;
                padding: 24px;

                // &.left {
                //     padding-left: 0;

                //     img {
                //         right: 0;
                //     }
                // }

                &.right {
                    text-align: right;
                    padding-left: 60px;

                    img {
                        left: 0;
                    }
                }
            }


            .left {
                padding-left: 0;

                @include breakpoint(medium) {
                    text-align: left;
                    padding-left: 0;
                }
            }

            h3 {
                color: $primary-color;
                margin-bottom: 24px;
            }

            .lead {
                font-size: rem-calc(16);
                line-height: rem-calc(30);
                color: $jet;
            }

            // img {
            //     @include breakpoint(medium) {
            //         // position: absolute;

            //         // left:0;
            //         // max-width: none;
            //     }
            // }
       
        }

        .feature-copy {
            text-align: left;
            width: 100%;
            padding-top: 60px;

            @include breakpoint(medium) {
                max-width: rem-calc(300);

                .right & {
                    margin: 0 auto;
                }
            }


            @include breakpoint(large) {
                max-width: rem-calc(500);
            }


            p {
                margin-bottom: 36px;
            }

            button {
                margin: 0;
            }
        }
    }
}