.talk-card {
    padding: 6px;
    background: none;
    position: relative;

    @include breakpoint(560px) {
        width: 50%;
    }


    @include breakpoint(760px) {
        width: 33.333%;
    }


    @include breakpoint(1100px) {
        width: 25%;
    }


    .explore-index & {
        @include breakpoint(1600px) {
            width: 20%;
        }
    }

    &.postlive, &.processing, &.suspended {
        //pointer-events: none;

        .talk-card-inside {
            opacity: .5;
        }

        .not_available {
            position: absolute;
            top: 97px;
            left: 30px;
            right: 30px;
            padding: 12px;
            background: $warning-color;

            p {
                font-size: rem-calc(12);
                line-height: rem-calc(14);
                margin-bottom: 0;
                font-weight: 500;
                height: auto;
            }
        }
    }

    &:last-child {
        @extend .end;
    }

    .talk-card-inside {
        background: $ghost;
        padding: 12px;
        cursor: pointer;
        position: relative;

        @extend .text-left;

        text-align: left;
        transition: all .2s ease;

        .publisher {
            margin: 0;
            line-height: 18px;
            font-weight: 300;
            margin-bottom: 0;
            font-size: rem-calc(14);
            color: rgba($talk-dark, 0.5);
            color:$secondary-color;

            &:hover {
                text-decoration: underline;
                color:$primary-color;
            }
        }

        p.series-label {
            color: $almost-black;
            font-size: rem-calc(12);
            text-transform: uppercase;
            letter-spacing: rem-calc(4);
            margin: 0;
            margin-bottom: 10px;
            line-height: rem-calc(12);
        }

        .meta-data {
            width: 100%;
            margin: 0;
            font-size: rem-calc(11);
            line-height: rem-calc(12);
            text-transform: uppercase;
            letter-spacing: rem-calc(1);
            color: rgba($light-gray, 0.5);
            margin-bottom: 6px;

            // .running-time {
            //     @extend .float-left;
            // }

            // .play-count {
            //     @extend .float-right;
            // }
        }

        .date {
            margin: 0;
            font-size: rem-calc(11);
            line-height: rem-calc(12);
            text-transform: uppercase;
            letter-spacing: rem-calc(1);
            // color: rgba($talk-dark, 0.5);
            margin-bottom: 6px;

            strong {
                font-weight: 500;

                // color: rgba($talk-dark, 0.8);
           
            }
        }

        .image-box {
            margin-bottom: 12px;
            position: relative;
            margin-top:6px;

            .hover-info {
                position: absolute;
                padding: 12px;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background-color: rgba($talk-dark, 0.9);
                opacity: 0;
                transition: opacity .2s ease;

                .teaser, .speaker {
                    // @extend .date;
                    font-size: rem-calc(12);
                    line-height: rem-calc(14);
                    color: $light-gray;

                    a {
                        text-decoration: none;
                        text-transform: none;
                        color: white;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            p.speaker {
                color: $info-color;
            }


            }

        }

        $font-size: 18px;
        $line-height: 1.2;

        $lines-to-show: 2;

        .title, .series > & {
            display: block;

            /* Fallback for non-webkit */
            display: -webkit-box;

            // max-width: 400px;
            height: $font-size * $line-height * $lines-to-show;

            /* Fallback for non-webkit */
            margin: 0 auto;
            font-size: $font-size;
            line-height: $line-height;
            -webkit-line-clamp: $lines-to-show;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
            transition: text-decoration .2s ease;
        }

        a {
            color: $talk-dark;
        }

        &:hover {
            background: $white;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        }

        &:hover > .title {
            text-decoration: underline;
        }

        &:hover .hover-info {
            display: block !important;
            opacity: 1;
        }

        .svg-icon {
            float: left;
            max-width: 24px;
            max-height: 4px;
            color:$light-gray;

            svg {
                // @extend .float-left;

                max-width: 24px;
                max-height: 24px;
                margin-top: 0;
                margin-right: 12px;

                * {
                    fill: currentColor;
                }
            }
        }

        .info-right {
            text-align: right;
        }
    }

    .profile-page & {
        @extend .small-6;

        // @extend .medium-4;

        @include breakpoint(1400px) {
            width: 33.33%;
        }


        @include breakpoint(1600px) {
            width: 25%;
        }


        @include breakpoint(1900px) {
            width: 20%;
        }


        @include breakpoint(2200px) {
            width: 16.6667%;
        }


        &.series {
            .series-thumb {
                margin-bottom: 12px;
            }

            .talk-count {
                @extend .float-left;
            }

            .meta {
                margin-bottom: 0;
            }

            .talk-count, .play-count {
                margin-bottom: 0;
            }
        }

        .talk-card-inside h5 {
            color: $talk-dark;
        }

        .bottom-info {
            .icon {
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 0;
                background-color: $secondary-color;
                margin-right: 12px;
            }

            .info-right {
                @extend .float-right;
            }
        }
    }
}

$font-size: 14px;
$line-height: 1.2;
$lines-to-show: 2;

.series .talk-card-inside p.lead {
    display: block;

    /* Fallback for non-webkit */
    display: -webkit-box;

    // max-width: 400px;
    height: $font-size * $line-height * $lines-to-show;

    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 6px;
    transition: text-decoration .2s ease;
}

.talk-card:hover .talk-card-inside h5.title, .series:hover .talk-card-inside h5.title {
    text-decoration: underline;
}

.series .talk-card-inside .meta {
    height: 18px;

    a {
        color: $alert-color;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}

.series {
    .talk-card-inside {
        padding-top: 12px;

        img {
            margin-bottom: 12px;
        }

        .title, p.lead {
            color: $almost-black;
        }
    }
}

.talk-card .bottom-info {
    display: table;
    width:100%;
    & > .svg-icon {
        height: 10px;
    }
    * {
        display: table-cell;
    }

    .svg-icon {
        width: 44px;
        vertical-align: middle;
        padding-top:0;
        max-height: 20px;
    }

    .play-count {
        width: 100%;
        text-align:center;
        font-size: rem-calc(12);
        vertical-align: middle;
        color:$charcoal;
    }

    .pin-btn, .unpin-btn {
        max-width: 44px;
        padding: 12px;
        background: none;
        border:1px solid $light-gray;
        color:$light-gray;
        border-radius:2px;
        .svg-icon {
            padding-top: 0;
            color: $light-gray;
            max-height: 6px;
        }
        svg {
            max-width: 16px;
            max-height: 16px;
            margin:0;
            
        }
        &:hover {
            border-color:$secondary-color;
            color:$secondary-color;
            .svg-icon {
                color:$secondary-color;
                fill: $secondary-color;
            }
        }
    }

    .pinboard {
        height: 44px;
        max-height: 44px;
    }

    .unpin-btn {
        background:$secondary-color;
        border-color: $secondary-color;
        .svg-icon {
            color: white;
        }
        &:hover {
            background:$alert-color;
            border-color: $alert-color;
            .svg-icon {
                color: white;
            }
        }
    }

    .pin-placeholder {
        width: 44px;
        height: 44px;
        background:none;
        display: block;
    }
}