.sticky {
    z-index: 3000;
}

.sticky-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo a span {
    font-family: $header-font-family;
    color: $alert-color;
    letter-spacing: rem-calc(6);
    font-size: rem-calc(14);
    line-height: rem-calc(36);
    font-weight: normal;
    margin: 0 0px 0 12px;
    display: none;

    @include breakpoint(850px) {
        display: inline-block;
    }
}

.top-bar {
    // @extend .sticky;

    background: rgba($talk-dark, 1);
    transition: background .3s ease;
    margin: 0;
    right: 0;
    left: 0;

    .top-bar-right {
        margin-top: 12px;
    }

    &.with-background {
        background: $talk-dark;
    }

    ul {
        background: none;

        li {
            // text-transform: uppercase;
            font-weight: 500;
            letter-spacing: rem-calc(0.5);
            font-size: rem-calc(14);
            padding-right: 12px;

            // letter-spacing: rem-calc(1);
            a:hover, a:active {
                color: white;
            }

            .drop-title {
                color: $primary-color;
                text-transform: uppercase;
                font-weight: 300;
                padding-left: 14px;
                padding-top: 12px;
            }

            .divider {
                height: 1px;
                background: $talk-dark;
            }

            .submenu {
                a {
                    color: $almost-black;

                    &:hover {
                        color: $alert-color;
                    }
                }
            }

            &.join a {
                color: $secondary-color;

                &:hover {
                    color: $warning-color;
                }
            }

            &.zoomIn {
                animation-duration: .2s;
            }

            &.zoomOut {
                // pointer-events: none;
           
            }
        }

        li.search-btn a {
            padding-left: 0 !important;
        }
    }

    .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
        border-color: rgba($info-color, 0.5) transparent transparent;
        right: 10px;
    }
}

#search-loupe a {
    font-weight: 700;
    font-size: rem-calc(18);
    padding-top: 10px;

    .svg-icon {
        height: 6px;

        svg {
            fill: rgba(white, 0.5);
            width: 18px;
            height: 18px;
        }
    }



    &:hover {
        svg {
            fill: white;
        }
    }
}

.search-container {
    position: fixed;
    top: 18px;
    right: 0;
    width: 460px;
    background: $talk-dark;
    animation-duration: .5s;

    form {
        label {
            color: white;
            font-size: rem-calc(18);
            width: 24px;
            float: left;
            padding-top: 7px;
                .svg-icon {
        height: 6px;

        svg {
            fill: rgba(white, 0.5);
            width: 18px;
            height: 18px;
        }
    }
        }

        input {
            float: left;
            font-weight: 300;
            font-size: rem-calc(14);
            width: 300px;
            margin-right: 0;
            background: $talk-dark;
            color: white;
            box-shadow: none;

            &:focus, &:active {
                background: $talk-dark;
                border-color: $talk-dark;
            }
        }
    }

    .close-button {
        font-size: rem-calc(36);
        font-weight: 200;
        color: $alert-color;
        top: -12px;
        padding: 0;
        border: 0;

        &:hover {
            background: none;
            color: $warning-color;
        }
    }
}