---
title: Designs
---
<div class='jumbotron'>
  <h1>Home Page</h1>
  <h3>Small</h3>
  <img src="screenshots/0.0.0.0!9000-360x736.png">
  <h3>Medium</h3>
    <img src="screenshots/0.0.0.0!9000-1024x768.png">

  <h3>Large</h3>
    <img src="screenshots/0.0.0.0!9000-1920x1080.png">

</div>

<div class='jumbotron'>
  <h1>About Page</h1>
  <h3>Small</h3>
  <img src="screenshots/0.0.0.0!9000!about.html-360x736.png">
  <h3>Medium</h3>
    <img src="screenshots/0.0.0.0!9000!about.html-1024x768.png">

  <h3>Large</h3>
    <img src="screenshots/0.0.0.0!9000!about.html-1920x1080.png">

</div>