---
title: Explore
layout: app/templates/layouts/explore-layout.hbs
---
<h2>The Voice Republic Archive</h2>
<div class="filters">
	<div class="category-buttons">
		{{#each  cats}}
		<a class="button" id="{{icon}}"><span class="icon {{icon}}"></span>{{name}}</a>
		{{/each}}
	</div>
</div>
<div id="results">
	<div class="results-count clearfix">
		<p>12 Results</p>
		<div class="small-filter"><label>
			<select>
				<option value="husker">Language</option>
				<option value="starbuck">English</option>
				<option value="hotdog">Deutsch</option>
				<option value="apollo">Suomi</option>
			</select>
		</label></div>
	</div>
	<div id="results-grid">
		{{#each thumbs }}
		{{>landing-tile}}
		{{/each}}
	</div>
	<div id="loading-animation">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		viewBox="0 0 52.2 36" style="enable-background:new 0 0 52.2 36;" xml:space="preserve">
		<path stroke="#f82847" stroke-width="2.5" fill="none" class="st0" d="M14.5,20L26.1,4l21.5,29.7h-43L16,18L26.1,4"/>
	</svg>
</div>
</div>
