---
title: Explore
layout: app/templates/layouts/explore-layout.hbs
---
<!-- <div class="radio-btns">
		<fieldset>
				
				<legend>Filter By Category</legend>
				<input type="radio" name="pokemon" value="Red" id="all" checked="checked" required><label for="all">All Categories</label>
				<input type="radio" name="pokemon" value="Red" id="politics" required><label for="politics">Politics &amp; Society</label>
				<input type="radio" name="pokemon" value="Blue" id="science"><label for="science">Sciences</label>
				<input type="radio" name="pokemon" value="Yellow" id="art"><label for="art">Art &amp; Culture</label>
				<input type="radio" name="pokemon" value="Yellow" id="tech"><label for="tech">Technology</label>
				<input type="radio" name="pokemon" value="Yellow" id="media"><label for="media">The Media</label>
		</fieldset>
</div> -->
<h2>The Voice Republic Archive</h2>
<div class="filters">
	<div class="category-buttons">
		{{!-- <a class="button">All Categories</a> --}}
		{{#each  cats}}
		<a class="button" id="{{icon}}"><span class="icon {{icon}}"></span>{{name}}</a>
		{{/each}}
	</div>
	{{!-- <hr>
	<div class="explore-page-third">
		<label><h6>Filter By <em>Category</em>:</h6>
			<select name="filter[format]" id="filter_format">
				<option value="">All Categories</option>
				<option value="22">Politics &amp; Society</option>
				<option value="23">Sciences</option>
				<option value="17">Art &amp; Culture</option>
				<option value="16">Technology</option>
				<option value="19">The Media</option>
			</select>
		</label>
	</div>
	<div class="explore-page-third">
		<label><h6>Filter By <em>Format</em>:</h6>
			<select name="filter[format]" id="filter_format">
				<option value="">All Formats</option>
				<option value="22">Speech</option>
				<option value="23">Forum</option>
				<option value="17">Table Talk</option>
				<option value="16">Discussion</option>
				<option value="19">Interview</option>
				<option value="18">Conference</option>
				<option value="21">Lecture</option>
				<option value="20">Presentation</option>
				<option value="14">Reading</option>
			</select>
		</label>
	</div>
	<div class="explore-page-third">
		<label><h6>Filter By <em>Language</em>:</h6>
			<select>
				<option value="husker">All Languages</option>
				<option value="starbuck">English</option>
				<option value="hotdog">Deutsch</option>
				<option value="apollo">Suomi</option>
			</select>
		</label>
	</div>
	<hr> --}}
</div>
<div id="results">
	<div class="results-count clearfix">
		<p>12 Results</p>

		<div class="small-filter"><label>
					<select>
						<option value="husker">Language</option>
						<option value="starbuck">English</option>
						<option value="hotdog">Deutsch</option>
						<option value="apollo">Suomi</option>
					</select>
				</label></div>

	</div>
	<div id="results-grid">
		{{#each thumbs }}
		{{>landing-tile}}
		{{/each}}
	</div>
</div>