---
title: Explore
layout: app/templates/layouts/explore-layout.hbs
---
<h2>The Voice Republic Archive</h2>
<div class="filters">
	<div class="category-buttons">
		{{#each  cats}}
		<a class="button" id="{{icon}}"><span class="icon {{icon}}"></span>{{name}}</a>
		{{/each}}
	</div>
</div>
<div id="results">
	<div class="results-count clearfix">
		<p>12 Results</p>
		<div class="small-filter"><label>
			<select>
				<option value="husker">Language</option>
				<option value="starbuck">English</option>
				<option value="hotdog">Deutsch</option>
				<option value="apollo">Suomi</option>
			</select>
		</label></div>
	</div>
	<div id="results-grid">
		{{#each thumbs }}
		{{>landing-tile}}
		{{/each}}
	</div>
</div>

