---
title: Explore
layout: app/templates/layouts/explore-layout.hbs
---
<h2>The Voice Republic Archive</h2>
<form>
	<div class="filters">
<ul class="category-buttons menu expanded">
<li class="">
	<label class="selected">
		<div class="icon"><svg><use xlink:href="#icon-default"></use></svg></div>
		
		<input type="radio" value="7" name="category" id="all" >
		<p>All the things</p>
	</label>
</li>
{{#each cats}}
<li>
	<label>
		<div class="icon"><svg><use xlink:href="#icon-{{icon}}"></use></svg></div>
		
		<input type="radio" value="{{@index}}" name="category" id="{{icon}}" >
		<p>{{name}}</p>
	</label>
</li>
{{/each}}

</ul>
	
		
</div>
<select name="filter[language]" id="filter_language"><option value="">All Languages</option>
<option value="en">English</option>
<option value="de">Deutsch</option>
<option value="war">Winaray</option></select>
</div>
<div id="results">
<div id="results-grid">
<h3>201 results</h3>
<ul class="list-style-type-none" id="more">
<div class="talk-card medium-4 large-3 columns">
<div class="talk-card-inside">
<h5 class="title">Sehnsucht nach Souveränität - Wissen in Gesellschaft #4</h5>
<p class="meta">
	<span class="running-time">120</span>
	<span class="play-count">247 Plays</span>
</p>
<div class="image-box">
	<img src="http://localhost:3001/media/W1siZiIsIjIwMTUvMTAvMjEvMTQ1b2dxZzhnd193aXNzZW5fc291dmVyIl0sWyJwIiwidGh1bWIiLCI2MDB4MzM4IyJdXQ?sha=a2481139" alt="W1siziisijiwmtuvmtavmjevmtq1b2dxzzhnd193axnzzw5fc291dmvyil0swyjwiiwidgh1bwiilci2mdb4mzm4iyjdxq?sha=a2481139">
	<div class="hover-info">
		<p class="speaker">
			Speaker:
			
		</p>
	</div>
</div>
<div class="bottom-info">
	<div class="svg-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-politics"></use></svg></div>
	<div class="info-right">
		<p class="date">
			Published
			<strong>3 months</strong>
			ago by
		</p>
		<a href="/users/zentrum-geschichte-des-wissens-eth-universitat-zurich">ZGW (ETH &amp; UZH)
		</a>
	</div>
</div>
</div>
</div>
<div class="talk-card medium-4 large-3 columns">
<div class="talk-card-inside">
<h5 class="title">SAMIZDATA: Evidence of conspiracy</h5>
<p class="meta">
	<span class="running-time">30</span>
	<span class="play-count">252 Plays</span>
</p>
<div class="image-box">
	<img src="http://localhost:3001/media/W1siZiIsIjIwMTUvMDkvMTIvOXM0cG42anR3OV9TY3JlZW5fU2hvdF8yMDE1XzA5XzEyX2F0XzIyLjM1LjU3LnBuZyJdLFsicCIsInRodW1iIiwiNjAweDMzOCMiXV0?sha=e4a59bf7" alt="W1siziisijiwmtuvmdkvmtivoxm0cg42anr3ov9ty3jlzw5fu2hvdf8ymde1xza5xzeyx2f0xziyljm1lju3lnbuzyjdlfsiccisinrodw1iiiwinjawedmzocmixv0?sha=e4a59bf7">
	<div class="hover-info">
		<p class="speaker">
			Speaker:
			
		</p>
	</div>
</div>
<div class="bottom-info">
	<div class="svg-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-politics"></use></svg></div>
	<div class="info-right">
		<p class="date">
			Published
			<strong>4 months</strong>
			ago by
		</p>
		<a href="/users/disruption-network-lab">DISRUPTION NETWORK LAB
		</a>
	</div>
</div>
</div>
</div>
</ul>
<input id="pager" type="hidden" value="1">
<div id="spy">Loading more...</div>
</div>
</div>
</form>