---
title: Welcome
---

<!-- SEARCH AND HERO -->

<section class="home-search row medium-collapse large-collapse">

<div class="large-7 columns">
<h1 class="text-center animated fadeInUp">Talk Smart.</h1>
<div class="medium-8 medium-offset-2 columns animated fadeInUp"><h4 class="text-center sub-claim">Voice Republic features some of the most interesting and relevant conversations, from exclusive content providers. Dive in and start listening.</h4></div>


<div class="row">
<form><div class="small-12 small-offset-0 medium-8 medium-offset-2 large-6 large-offset-3 columns big-search animated fadeInUp">
      <div class="row collapse prefix-round">
        <div class="small-9 columns">
          <input class="hide-for-small-only" type="text" placeholder="Search Voice Republic">
          <input class="show-for-small-only" type="text" placeholder="Search VR">

        </div>
        <div class="small-3 columns">
          <a href="#" class="button secondary medium-expand">Go</a>
        </div>
      </div>
    </div>
    </form>


    </div>

<div class="row"><h4 class="text-center animated fadeInUp"><a href="explore.html">Or Browse the Archive</a></h4></div>
</div> <!-- :LEFT -->



	<div class="large-4 columns end sign-in">
		
<div class="small-12 columns">
  <div class="sign-in-box">
  <div class="row">
  <div class="large-12 columns">
    <form>
    <h3>Sign in for the full experience.</h3>
       <div class="row">
         <div class="large-12 columns large-collapse">
             <input type="text" name="email" placeholder="Email" />
         </div>
       </div>
      <div class="row">
         <div class="large-12 columns large-collapse">
             <input type="password" name="password" placeholder="Password" />
         </div>
      </div>
      <div class="row">
        <div class="small-6 columns collapse">
          <input type="submit" class="button secondary expand" value="Sign In"/>
        </div>
        <div class="small-6 columns collapse">
          <input type="submit" class="button blank expand" value="Or Join"/>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>

	</div> <!-- RIGHT -->

</section>


<!-- SIGN IN -->

<!-- <section class="sign-in">
<div class="row">
	<div class="medium-6 medium-offset-3 columns sign-in-box">
		
<div class="small-12 columns">
  <div class="sign-in-box">
  <div class="row">
  <div class="large-12 columns">
    <form>
    <h3>Sign in for the full experience.</h3>
       <div class="row">
         <div class="large-12 columns large-collapse">
             <input type="text" name="email" placeholder="Email" />
         </div>
       </div>
      <div class="row">
         <div class="large-12 columns large-collapse">
             <input type="password" name="password" placeholder="Password" />
         </div>
      </div>
      <div class="row">
        <div class="small-6 columns collapse">
          <input type="submit" class="button secondary expand" value="Sign In"/>
        </div>
        <div class="small-6 columns collapse">
          <input type="submit" class="button blank expand" value="Or Join"/>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>

	</div>
	</div>

</section> -->



<!-- HAPPENING NOW -->

<section class="happening-now">
	<div class="section-title"><h2 class="text-center">Happening Now <span class="open-blink"></span></h2></div>
	<div id="thumb-container">

	{{#each live-talk }}
	{{> thumbnail}}
	{{/each}}
</div>
	

</section>


<section class="start-listening">
	<div class="section-title"><h2 class="text-center"> Start Listening</h2></div>

<div class="thumb-container">	

	{{#withFirst thumbs 8}}
	{{> thumbnail}}
	{{/withFirst}}

</div>
</section>

<section class="publishers">
	<div class="publishers-holder row">
	<div class="section-title"><h2>Browse Publishers</h2>
	<h4 class="subheader text-center">Here are some of Voice Republic's world-class, exclusive publishers.</h4>

	</div>
		{{#each publisher}}
		{{>publisher}}
		{{/each}}
	</div>

<h1 class="text-center"><button class="button secondary">See All Publishers <span class="icon-uniE7CD"> </span></button>
</h1>
</section>