---
title: Welcome
layout: app/templates/layouts/first-view.hbs
---

<svg version="1.1" id="filter-svg" width="0" height="0">
  <path></path>
  <filter id="blue-purple">
    <feColorMatrix type="matrix" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" result="gray"></feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0.17254901960784313 0.6392156862745098"></feFuncR><feFuncG type="table" tableValues="0.27450980392156865 0.2235294117647059"></feFuncG><feFuncB type="table" tableValues="0.6901960784313725 0.803921568627451"></feFuncB><feFuncA type="table" tableValues="1 1"></feFuncA></feComponentTransfer>
  </filter>
</svg>

<!-- SEARCH AND HERO -->

<section class="home-search row medium-collapse large-collapse">

<div class="large-8 large-offset-2 columns">
<h1 class="text-center"><img src="img/logo/vr-full-blue.svg" alt="" width="100"></h1>
<h1 class="text-center animated fadeInUp"><span class="">The Platform For Quality Spoken Content.</span></h1>
<p class="lead hide">
  Voice Republic is the place where amazing ideas are discussed by amazing speakers with incredibly interesting accents. They are well-educated, clean and smartly-dressed people. And they crush it.
</p>




<!-- <div class="row"><h4 class="text-center animated fadeInUp"><a href="explore.html">Or Browse the Archive</a></h4></div> -->
</div> <!-- :LEFT -->



<!-- 	<div class="large-4 columns end sign-in">
		
<div class="small-12 columns">
  <div class="sign-in-box">
  <div class="row">
  <div class="large-12 columns">
    <form>
    <h3>Sign in for the full experience.</h3>
       <div class="row">
         <div class="large-12 columns large-collapse">
             <input type="text" name="email" placeholder="Email" />
         </div>
       </div>
      <div class="row">
         <div class="large-12 columns large-collapse">
             <input type="password" name="password" placeholder="Password" />
         </div>
      </div>
      <div class="row">
        <div class="small-6 columns collapse">
          <input type="submit" class="button secondary expand" value="Sign In"/>
        </div>
        <div class="small-6 columns collapse">
          <input type="submit" class="button blank expand" value="Or Join"/>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>

	</div> --> <!-- RIGHT -->

</section>









<section class="start-listening">
	<div class="section-title"><h2 class="">Check out some of the hottest talks on Voice Republic</h2></div>

<div id="results-grid">
{{#each thumbs }}
<div class="ted-tile-wrapper">
<a href="talk.html">

    {{> ted-tile}}
    </a>
      </div>

  {{/each}}
</div>
</div>
</section>

<section class="about">
<div class="row">
<div class="large-8 large-offset-2 columns">
  <h1 class="text-center">About Voice Republic</h1>
  <p class="lead text-center">
Listen to live and archived talks from leading thinkers and cutting edge conferences. Dive in to 1801 great talks on Art, Culture, Politics, Tech, Design.  </p></div>
</div>

</section>

{{!-- <section class="publishers">
	<div class="publishers-holder row">
	<div class="section-title"><h2>Browse Publishers</h2>
	<h4 class="subheader text-center">Here are some of Voice Republic's world-class, exclusive publishers.</h4>

	</div>
		{{#each publisher}}
		{{>publisher}}
		{{/each}}
	</div>

<h1 class="text-center"><button class="button secondary">See All Publishers <span class="icon-uniE7CD"> </span></button>
</h1>
</section> --}}