---
title: Start page
---

{{!-- top section --}}
<section class="dark">

<div class="row">
{{#markdown}}
# Voice Republic is the platform for the spoken word.
{{/markdown}}	
<button class="secondary hollow button" href="#">Publish</button>
<button class="secondary hollow button" href="#">Listen</button>
</div>

</section>


{{!-- listen now --}}
<section class="light">
	
</section>
