---
title: Welcome
---

<!-- SEARCH AND HERO -->

<section class="home-search"><h1 class="text-center">People are talking.</h1>
<div class="medium-8 medium-offset-2 large-6 large-offset-3 xlarge-4 xlarge-offset-4 columns"><h4 class="text-center">Voice Republic features some of the most interesting and relevant conversations happening today. Dive in and start listening.</h4></div>


<div class="row">
<form><div class="large-6 large-offset-3 columns big-search">
      <div class="row collapse prefix-round">
        <div class="small-9 columns">
          <input type="text" placeholder="Search Voice Republic">
        </div>
        <div class="small-3 columns">
          <a href="#" class="button secondary medium-expand">Go</a>
        </div>
      </div>
    </div>
    </form>
    </div>


<!-- <h3 class="text-center"><a class="grad-button" href="">Sign In</a></h3> -->

</section>


<!-- SIGN IN -->

<section class="sign-in">
<div class="row">
	<div class="medium-6 columns sign-in-box">
		
<div class="small-12 columns">
  <div class="sign-in-box">
  <div class="row">
  <div class="large-12 columns">
    <form>
    <h3>Sign in for the full experience.</h3>
       <div class="row">
         <div class="large-12 columns large-collapse">
             <input type="text" name="email" placeholder="Email" />
         </div>
       </div>
      <div class="row">
         <div class="large-12 columns large-collapse">
             <input type="password" name="password" placeholder="Password" />
         </div>
      </div>
      <div class="row">
        <div class="small-6 columns collapse">
          <input type="submit" class="button secondary expand" value="Sign In"/>
        </div>
        <div class="small-6 columns collapse">
          <input type="submit" class="button blank expand" value="Or Join"/>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>

	</div>
	<div class="medium-6 columns features-box">
		<div class="small-12 columns feature"><span class="feature-icon">icon</span>feature 1</div>
				<div class="small-12 columns feature"><span class="feature-icon">icon</span>feature 2</div>

		<div class="small-12 columns feature"><span class="feature-icon">icon</span>feature 3</div>

	</div></div>

</section>



<!-- HAPPENING NOW -->

<section class="happening-now">
	<div class="row">
	<h1 class="text-center">Happening Now</h1>
	<span class="open-blink"></span>
		thumb1
	</div>
</section>
