---
title: Welcome
---

<section class="home-search"><h1 class="text-center">People are talking.</h1>
<h4 class="text-center">Dive in and find interesting Talks on Voice Republic. </h4>


<div class="row">
<form><div class="large-6 large-offset-3 columns big-search">
      <div class="row collapse prefix-round">
        <div class="small-9 columns">
          <input type="text" placeholder="Search Voice Republic">
        </div>
        <div class="small-3 columns">
          <a href="#" class="button secondary postfix-round">Go</a>
        </div>
      </div>
    </div>
    </form>
    </div>


<h3 class="text-center"><a class="grad-button" href="">Sign In</a></h3>

</section>

<section class="sign-in"></section>