---
title: Listen
cats:
- name: "Politics and Society"
  icon: "politics"
  description: "Red-hot political topics and discussions about our society in the audio live stream or the archive. Listen to people who have a say."
- name: "Sciences"
  icon: "science"
  description: "Scientific lectures, panels and conferences in our virtual auditorium – listen live or download as podcast."
- name: "Arts and Culture"
  icon: "arts"
  description: "News from the cultural scene, streamed live and made available in the audio archive. We let artists, critics and curators speak out."
- name: "Technology"
  icon: "tech"
  description: "Not only for geeks: technological progress concerns all of us. Listen to live streams or download the podcasts."
- name: "Media"
  icon: "media"
  description: "The media world is changing rapidly. Lectures and discussions about traditional media and digitalisation in the audio archive and in live streams."
- name: "Business"
  icon: "business"
  description: "Business conferences and company events offer interesting insights into economic developments and useful career advice."
---
{{!-- ---------- --}}
{{!-- top section --}}
<section id="claim" class="dark">
	<div class="row">
	<h1>Home To the Spoken Word.</h1>
		<div class="container">
			
			<p class="lead">On Voice Republic you will find well-founded discussions and relevant presentations on topics that you are interested in. A wide range of professional content from the fields of art and culture, politics and society, the media, science, economics and technology is available for free – either live or in the audio archive.
</p>
<div class="row">
		<a href="join.html"><button>Join For Free</button></a>
	</div>
		</div>
	</div>
	<div class="icon down-arrow animated infinite slideInDown"></div>
</section>
{{!-- ---------- --}}
{{!-- listen now --}}
<section id="listen-now" class="light">
	<div class="row">
		<div class="container">
			<h2>Listen Now</h2>
			<p class="lead">In the Voice Republic Archive you can listen to professional audio content from different areas: politics, culture, sciences and economy.</p>
		</div>
		<div id="talk-collection">
			{{#withFirst thumbs 6}}
			{{>landing-tile}}
			{{/withFirst}}
		</div>
	</div>
	<div class="row">
		<a href="#"><button>More Talks  &raquo;</button></a>
	</div>
</section>
{{!-- ---------- --}}
{{!-- education --}}
<section id="education" class="landing-feature light">
	<div class="row">
		<div class="landing-half left">
			<div class="feature-copy">
				<h3>"Could I have some education to go, please?"</h3>
				<p class="lead">Did you miss an event you were really interested in? No problem. Each streamed live Talk will be in our audio archive right after the event. There you can listen to it at any time. Embed the Voice Republic Player into your web page or share the content on social networks, to make others aware of it.<br><br>
All talks are also available as a podcast – listen to them anywhere, whenever you want!

				</p>
				
				<p><a href="explore.html"><button>Explore the archive &raquo;</button></a></p>
				
			</div>
		</div>
		<div class="landing-half right">
			<img src="img/features/education.png" width="1122" height="778" alt="">
		</div>
	</div>
</section>
{{!-- ---------- --}}
{{!--  takepart --}}
<section id="take-part" class="landing-feature light">
	<div class="row">
		
		<div class="landing-half left">
			<img src="img/features/comments.png" width="1122" height="778" alt="">
		</div>
		<div class="landing-half right">
			<div class="feature-copy">
				<h3>Take part in the action&mdash;no matter where you are.
</h3>
				<p class="lead">Conferences, meetings and lectures are held all over the world and you can't always be there in person. That doesn’t mean you have to miss the event. At Voice Republic you can listen to the Talks that interest via live stream. Use the comment section to actively participate in the discussion and ask questions.


				</p>
				
				<p><a href="coming-up.html"><button>See what's coming soon &raquo;</button></a></p>
				
			</div>
		</div>
	</div>
</section>
