---
title: User Patrick Frank
layout: app/templates/layouts/profile-layout.hbs
---
{{!-- Left Column --}}
<div class="row" id="left-column">
	<div id="user-block">
		<p class="profile-avatar">
			<img src="img/avatars/patrick.png" width="220" height="220" class="img-circle" alt="">
		</p>
		<h3 id="user-name">Patrick Frank</h3>
		<!-- <p id="user-badge">Publisher</p> -->
		<p id="user-description">Composer, cultural theorist, co-founder and CEO Voice Republic.</p>
<!-- 		<ul class="user-meta-group">
			<li class="user-meta-item">5 Talks</li>
			<li class="user-meta-item">3 Series</li>
			<li class="user-meta-item">14 Pins</li>
			<li class="user-meta-item">2k Plays</li>
		</ul> -->
	</div>
	<hr>
	<div class="row" id="user-about">
		<p class="column-header">About Me</p>
		<p>
			Kompositionsstudien an der ZHdK in Zürich. Studium der Kulturwissenschaften, Philosophie und Soziologie an der Universität Luzern.<br><br>
			In Franks kompositorische Arbeiten verbinden sich Kulturtheorie mit Neuer Musik. Frank inszeniert 'Diskurskonzerte' unter Beteiligung von Philosophen, Politiker oder Aktivisten. Dabei greift er sowohl auf bestehende Theorien bekannter und weniger bekannter PhilosophenInnen und SoziologenInnen zurück, als auch auf eigene Thesen.<br><br>
			Voice Republic ist ein Projekt, das aus der Beschäftigung mit Gegenwartsdiagnosen entstand: Der Diskurs als wissensbildender Akt und demokratisierende Praxis droht in hyperindividualisierter und tendenziell indifferenter Kultur zu verschwinden. Voice Republic unternimmt den Versuch, den live gesprochenen Diskurs im Internet zu stützen.<br><br>
			2007: Projekt Limina - Indifferenz in Kunst und Kultur<br><br>
			2010: the law of quality - Abbildung des Kunstmarktes und Thematisierung von Quantität und Qualität<br><br>
			2013: wir sind aussergeöwhnlich I - Quantitäten / Populismus / Subversion (mit Enno Rudolph, Philosoph)<br><br>
			2014: Launch Voice Republic<br><br>
			2014: wir sind aussergewöhnlich II - Quantitäten / Populismus / Subversion (mit Enno Rudolph, Philosoph, Moritz Leuenberger, Politiker)<br><br>
			2014: wir sind aussergewöhnlich III - Quantitäten / Populismus / Subversion (mit Harry Lehmann, Philosoph und einem noch anzukündigenden Politiker)<br><br>
			Frank ist Gründer und 'prime-minister' (CEO) der Voice Republic Media AG. Er entwirft als freischaffender Komponist Projekte und Musik.<br><br>
			<a href="http://patrickfrank.ch" target="_blank">Webseite von Patrick Frank</a>
		</p>
	</div>
</div>
{{!-- Right Columns --}}
<div id="right-column">
	<div class="tab-holder funky">
		<ul class="tabs left" data-tab>
			
			<li class="tab-title" id="tab-upcoming">
				<a href="#upcoming">
					<span class="icon icon-uniE875"> </span> <span class="label-text">Upcoming</span>&nbsp;&nbsp;<span class="tab-badge">3</span></a>
				</li>
				<li class="tab-title active" id="tab-archived">
					<a href="#archived">
						<span class="icon icon-uniE6A0"> </span> <span class="label-text">Archived</span>&nbsp;&nbsp;<span class="tab-badge">7</span>
					</a>
				</li>
				
				<li class="tab-title" id="tab-series">
					<a href="#series">
						<span class="icon icon-uniE6B2"> </span> <span class="label-text">Series</span>&nbsp;&nbsp;<span class="tab-badge">3</span>
					</a>
				</li>
				
				<li class="tab-title" id="tab-pinned">
					<a href="#pinned">
						<span class="icon icon-uniE8E6"> </span> <span class="label-text">Pinned</span>&nbsp;&nbsp;<span class="tab-badge">12</span></a>
					</li>
				</ul>
				<ul class="tabs viewtoggle right" data-tab>
					<li class="tab-label">VIEW:</li>
					<li class="tab-title"><a id="list-view" href="#list"><span class="icon-uniE789"></span></a></li>
					<li class="tab-title active"><a id="grid-view" href="#archived"><span class="icon-uniE78A"></span></a></li>
				</ul>
			</div>
			<div class="tabs-content">
				<div class="content" id="upcoming">
					
					{{#withFirst thumbs 3}}
					{{>upcoming-tile}}
					{{/withFirst}}
				</div>
				<div class="content" id="upcoming-list">
					<table id="archive-table">
						<thead>
							<tr>
								<th class="thumb">Image</th>
								<th>Title</th>
								
								<th>Date</th>
							</tr>
						</thead>
						{{#withFirst thumbs 7}}
						{{>profile-row}}
						{{/withFirst}}
					</table>
					
				</div>
				
				<div class="content active" id="archived">
					
					{{#withFirst thumbs 7}}
					{{>archive-tile}}
					{{/withFirst}}
				</div>
				<div class="content" id="list">
					<table id="archive-table">
						<thead>
							<tr>
								<th class="thumb">Image</th>
								<th>Title</th>
								<th>Date</th>
								<th>Plays</th>
							</tr>
						</thead>
						{{#withFirst thumbs 7}}
						{{>profile-row}}
						{{/withFirst}}
					</table>
					
				</div>
				<div class="content" id="series">
					{{#each series}}
					{{>series}}
					{{/each}}
				</div>
				<div class="content" id="pinned">
					
					{{#each thumbs}}
					{{>pinned-tile}}
					{{/each}}
				</div>
			</div>
		</div>