---
publisher:
  - publisher external old
  - publisher external new
  - publisher internal old
  - publisher internal new
listener:
  - listener internal new
  - listener internal old
  - listener external new
  - listener external old
layout: app/templates/layouts/profile-layout.hbs
---

<div class="view-links row clearfix">
	<div class="small-6 columns">
		<h1 class="">Publisher Views:</h1>
		{{#each publisher}}
		<a href="{{hyphenate this}}.html"><button class="button large">{{this}}</button></a><br>
		{{/each}}
	</div>
	<div class="small-6 columns">
		<h1 class="">Listener Views:</h1>
		{{#each listener}}
		<a href="{{hyphenate this}}.html"><button class="button large">{{this}}</button></a><br>
		{{/each}}
	</div>
</div>