---
title: Publish
---
{{!-- ---------- --}}
{{!-- top section --}}
<section id="claim" class="dark">
	<div class="row">
		<div class="container">
			<h1>Publish your own content online.</h1>
			<p class="lead"> On Voice Republic, your content is in good company. In our audio archive you will find high-class lectures, discussions and readings from the fields of culture, sciences, politics and business. Whether via audio live stream or by uploading audio files: Reach an interested audience and increase your reach. Thanks to the browser-based technology of Voice Republic you stay flexible and do not require additional equipment. Starting at <a href="#">12 euros per Talk</a>, you can easily create your own audio channel.</p>
			<div class="row">
		<a href="join.html"><button>Get Started &raquo;</button></a>
	</div>
		</div>
	</div>
	<div class="icon down-arrow animated infinite slideInDown"></div>
</section>
{{!-- ---------- --}}
{{!-- live stream --}}
<section id="live-stream" class="landing-feature light">
	<div class="row">
		<div class="landing-half left">
			<div class="feature-copy">
				<h3>The Voice Republic Live stream</h3>
				<p class="lead">Are you organizing a conference, discussion panel, or holding lectures and workshops yourself? With Voice Republic you can publish your content to the whole world and reach a large audience.<br><br>
					Broadcasting your own live stream is easy with the browser-based technology of Voice Republic. You create a talk in your Voice Republic account and during the event you click on "Start" and "Stop". The  technology you need on site is only a computer with Internet access and an audio source. The comment feature gives you the opportunity to interact with your online audience. Listeners can comment and ask questions in real time. When your event is over, your audio content is in good hands with us. All talks are stored on the Voice Republic servers and are searchable in the archive immediately after the live broadcast.
				</p>
				
				<p><a href="join.html"><button>Start a live stream  &raquo;</button></a></p>
				
			</div>
		</div>
		<div class="landing-half right">
			<img src="img/features/livestream.png" width="1122" height="778" alt="">
		</div>
	</div>
</section>
{{!-- ---------- --}}
{{!-- audio upload --}}
<section id="audio-upload" class="landing-feature light">
	<div class="row">
		
		<div class="landing-half left">
			<img src="img/features/upload.png" width="1122" height="778" alt="">
		</div>
		<div class="landing-half right">
			<div class="feature-copy">
				<h3>The Voice Republic audio upload</h3>
				<p class="lead">If you do not want to stream live, but have already existing recordings, you can also use our audio archive. Just upload your audio files and add your own photos, descriptive texts and, if you want to, presentation slides. Everyone can now listen to your content online or download it as a podcast. You can easily embed the Voice Republic Player into your own web page and share the talks in social networks.

				</p>
				
				<p><a href="join.html"><button>Sign in  &raquo;</button></a></p>
				
			</div>
		</div>
	</div>
</section>
