---
title: Politics
layout: app/templates/layouts/layout-explore.hbs
---



<div id="main">
<div class="titlebar">
	<div class="title-left left"><h3 class="breadcrumb"><a href="explore.html">Explore </a> / <span class="current-branch">Politics</span><span class="follow-topic"><span class="icon-uniE704"></span></span></h3></div>
	<div class="sort-by show-for-large-up">
<ul class="inline-list tags-classification">

		<li class="classification-tag"><span class="icon-uniE77A"></span> Conference</li>
		<li class="classification-tag"><span class="icon-uniE907"></span> Foundation &amp; NGO</li>
		<li class="classification-tag"><span class="icon-uniE8E8"></span> Academic</li>
		<li class="classification-tag"><span class="icon-uniE85C"></span> Institution</li>
		<li class="classification-tag"><span class="icon-uniE731"></span> Independent</li>

	
	</ul>
	</div>
	<div class="title-right"><h3 class="results show-for-small-only">(473)</h3><h3 class="results show-for-medium-up">473 Results</h3></div>
</div>

<div class="sort-bar hide-for-large-up">



<ul class="inline-list tags-classification">

		<li class="classification-tag">Conference</li>
		<li class="classification-tag">Foundation &amp; NGO</li>
		<li class="classification-tag">Academic</li>
		<li class="classification-tag">Institution</li>
		<li class="classification-tag">Independent</li>


	</ul>
</div>
	<hr>

<div class="tags">
	<ul class="inline-list tags">

	<li>Tags:</li>
<!-- 		<li class="classification-tag"><span class="icon-uniE77A"></span> Conference</li>
		<li class="classification-tag"><span class="icon-uniE907"></span> Foundation</li>
		<li class="classification-tag"><span class="icon-uniE8E8"></span> Academic</li>
		<li class="classification-tag"><span class="icon-uniE85E"></span> Corporate</li>
		<li class="classification-tag"><span class="icon-uniE731"></span> Boutique</li> -->

		<li>Greece</li>
		<li>EU</li>
		<li>Germany</li>
		<li>Internet</li>
		<li>NSA</li>
	</ul>
</div>

<div id="thumb-container">

	{{#each thumbs }}
	{{> thumbnail}}
	{{/each}}



</div>
	<button class="button secondary more-thumbs">Load More</button>

</div>