---
title: Politics
---



<div id="main">
<div class="titlebar">
	<div class="title-left left"><h3 class="breadcrumb"><a href="explore.html">Explore </a> / <span class="current-branch">Politics</span></h3></div>
	<div class="sort-by show-for-large-up">
				<ul class="sortby button-group round show-for-medium-up">
  <li><a href="#" class="button small selected">Date</a></li>
  <li><a href="#" class="button small">Title</a></li>
  <li><a href="#" class="button small">Popularity</a></li>
  <li><a href="#" class="button small">Duration</a></li>
</ul>
	</div>
	<div class="title-right"><h3 class="results show-for-small-only">(473)</h3><h3 class="results show-for-medium-up">473 Results</h3></div>
</div>

<div class="sort-bar hide-for-large-up">



		<ul class="sortby button-group round">
  <li><a href="#" class="button tiny selected">Date</a></li>
  <li><a href="#" class="button tiny">Title</a></li>
  <li><a href="#" class="button tiny">Popularity</a></li>
  <li><a href="#" class="button tiny">Duration</a></li>
</ul>
	</h6>
</div>

<div id="thumb-container">

	{{#each thumbs }}
	{{> thumbnail}}
	{{/each}}
</div>

</div>