---
component: archive-tile
---
<div class="profile-tile">
	<div class="profile-tile-inside">
			<p class="profile-date">Published {{time-ago}} ago</p>
			<a href="talk3.html"><img src="img/thumbs-cropped/thumb{{myNum}}.jpg" alt=""></a>
			<a href="talk3.html"><h5 class="profile-title">{{title}}</h5></a>
			<p class="speaker">SprecherIn: <a href="#">Patrick Frank</a></p>
		</div>
</div>