---
component: cta
---
<div id="cta" class="clearfix">
	<p class="text-center">Do you have your own content to share?</p> 
	<p class="text-center"><button class="button primary">Become A Publisher on VR</button></p>
</div>