---
component: footer
---
<footer>
	<div class="row">
		<div class="container">
			<h3 class="text-center"><img src="img/logo/logotype-beige.svg" width="180"></h3>
			<p class="lead">
				Voice Republic is the platform for the spoken word. We offer you a simple tool to stream your event, presentation, discussion or lecture live or make it accessible for everyone by uploading it to the audio archive. The live stream gives listeners who cannot personally attend an event or live performance the opportunity to listen in and to get involved – using the comment function, they can actively take part in the discussion. After the live broadcast, the talk will automatically be saved in our audio archive and can be heard at any time or downloaded as a podcast. You can also easily upload existing recordings. Starting at 12 euros per talk, you can boost your reach and position your content from the fields of politics, science, arts and culture, technology and business in a guaranteed high-quality environment. Listening to the live streams and downloading the podcasts is free for all users.
			</p>
		</div>
	</div>
	<ul class="footer-links">
		<li class="footer-link"><a href="#">About</a></li>
		<li class="footer-link"><a href="#">Pricing</a></li>
		<li class="footer-link"><a href="#">Support &amp; FAQ</a></li>
		<li class="footer-link"><a href="#">Blog</a></li>
		<li class="footer-link"><a href="#">Terms &amp; Privacy</a></li>
</ul>
<ul class="footer-links">
		<li class="footer-link"><a href="#">Press</a></li>
		<li class="footer-link"><a href="#">Service Status</a></li>
		<li class="footer-link"><a href="#">Contact</a></li>
		<li class="footer-link"><a href="#">Careers</a></li>
		<li class="footer-link"><a href="#">Imprint</a></li>
	</ul>
	<div class="row">
		<div id="footer-social-links">
			<a href="#"><span class="icon-uniE949"> </span></a>
			<a href="#"><span class="icon-uniE94A"> </span></a>
			<!-- <li role="presentation"><a href="#"><span class="social icon-uniE94A"> </span></a></li> -->
		</div>
	</div>
	<div class="row">
		<p class="text-center copyright">&copy;2015 Voice Republic Media AG</p>
	</div>
</footer>