---
component: footer
---

<footer>

	<div class="row">
	<div class="small-12 columns">
	<h3 class="text-center"><img src="img/logo/logotype-beige.svg" width="180"></h3>
	</div>
	</div>


<div class="footer-links">	<div class="small-12 columns">

<div class="large-1 medium-3 column large-offset-2"><a href="#">About</a></div>
<div class="large-1 medium-3 column"><a href="#">Pricing</a></div>
<div class="large-1 medium-3 column"><a href="#">Help</a></div>

<div class="large-1 medium-3 column"><a href="#">Blog</a></div>

<div class="large-1 medium-3 column"><a href="#">Terms</a></div>

<div class="large-1 medium-3 column"><a href="#">Press Kit</a></div>

<div class="large-1 medium-3 column"><a href="#">System Stats</a></div>

<div class="large-1 medium-3 column end"><a href="#">Contact Us</a></div>


	<!-- <ul class="inline-list">
		  <li role="presentation"><a href="#">About</a></li>
		  <li role="presentation"><a href="#">Pricing</a></li>
		  <li role="presentation"><a href="#">Help</a></li>
		   <li role="presentation"><a href="#">Blog</a></li>
		  <li role="presentation"><a href="#">Terms</a></li>
		  <li role="presentation"><a href="#">Press Kit</a></li>
		  <li role="presentation"><a href="#">System Status</a></li>
		  <li role="presentation"><a href="#">Contact Us</a></li>
		</ul> -->


		</div>
</div>
	



<div class="row">	<div class="small-12 medium-6 medium-offset-3 columns social">

		    <a href="#"><span class="icon-uniE949"> </span></a>
		    <a href="#"><span class="icon-uniE94A"> </span></a>

		  <!-- <li role="presentation"><a href="#"><span class="social icon-uniE94A"> </span></a></li> -->
		</div>
		</div>

		<div class="row">
<div class="small-12 columns"><p class="text-center copyright">&copy;2015 Voice Republic Media AG</p>
</div></div>
		
</footer>