---
component: footer
---

<footer>

	<div class="row">
	<div class="small-12 columns">
	<h3 class="text-center"><img src="img/logo/logotype-beige.svg" width="240"></h3>
	</div>
	</div>


<div class="row footer-links">	<div class="small-12 columns">
	<ul class="inline-list">
		  <li role="presentation"><a href="#">About</a></li>
		  <li role="presentation"><a href="#">Pricing</a></li>
		  <li role="presentation"><a href="#">Help</a></li>
		   <li role="presentation"><a href="#">Blog</a></li>
		  <li role="presentation"><a href="#">Terms</a></li>
		  <li role="presentation"><a href="#">Press Kit</a></li>
		  <li role="presentation"><a href="#">System Status</a></li>
		  <li role="presentation"><a href="#">Contact Us</a></li>
		</ul></div>
</div>
	



<div class="row">	<div class="small-12 columns"><ul class="inline-list">
		  <li role="presentation"><a href="#"><span class="social icon-uniE949"> </span></a><a href="#"><span class="social icon-uniE94A"> </span></a></li>
		  <!-- <li role="presentation"><a href="#"><span class="social icon-uniE94A"> </span></a></li> -->
		</ul></div>
		</div>

		<div class="row">
<div class="small-12 columns"><p class="text-center">&copy;2015 Voice Republic Media AG</p>
</div></div>
		
</footer>