---
component: footer
---
<footer>
	<div class="row">
		<div class="footer-section">	
		<h3 class=""><img src="img/logo/logo_with_type-beige.svg" width="120"></h3>

				<div class="footer-section">
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Support &amp; FAQ</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Terms &amp; Privacy</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<ul>
				<li><a href="#">Press</a></li>
				<li><a href="#">Service Status</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Imprint</a></li>
			</ul>

		</div></div>
		<div class="footer-section">
			
			<p class="lead">
				Voice Republic is the platform for the spoken word. We make it easy to <a href="publish.html">live-stream</a> your event, presentation, discussion or lecture&mdash;and keep it in our archive for those who missed it live. <br><Br>
				
				Users from anywhere in the world can tune in and add their thoughts to the "comments" feed&mdash;in realtime. Right after the live broadcast, the recording is automatically saved in our archive. Anyone can access it on our platform at any time, or subscribe to it as a podcast.<br><br>
				
				If you already have recorded content from past events, you can easily upload files to Voice Republic. Starting at <a href="pricing.html">12 euros per talk</a>, you can boost your reach and position your content from the fields of politics, science, arts and culture, technology and business in a guaranteed high-quality environment. <br><br>Listening is free for all users.
			</p>
						<div id="footer-social-links">
				<a href="#"><span class="icon-uniE949"> </span></a>
				<a href="#"><span class="icon-uniE94A"> </span></a>
				<!-- <li role="presentation"><a href="#"><span class="social icon-uniE94A"> </span></a></li> -->
			</div>
		</div>

	</div>
	<div class="row">
		<p class="text-center copyright">&copy;2015 Voice Republic Media AG</p>
	</div>
</footer>