---
component: pinned-tile
---
<div class="profile-tile">
	<div class="profile-tile-inside">
		<p class="profile-publisher">{{publisher}}</p>
		<p class="profile-date">Published {{time-ago}} ago</p>
		<img src="img/thumbs-cropped/thumb{{myNum}}.jpg" alt="">
		<h5 class="profile-title">{{title}}</h5>
		<p class="speaker">SprecherIn: <a href="profile.html">Patrick Frank</a></p>
	</div>
</div>