---
component: profile-row
---
<tr class="profile-row">

	<td class="thumb">
		<a href="talk3.html"><img class="left" src="img/thumbs-cropped/thumb{{myNum}}.jpg" alt=""></a>
	</td>
	<td>
		<a href="talk3.html"><span class="profile-title left">{{title}}</span></a>
	</td>
	
		
		<td>
						<span class="date "> {{time-ago}} ago </span>

		</td>
		<td>
			<span class="date "> &nbsp;{{plays}} plays</span> 

		</td>
		

</tr>