---
component: profile-tile
---
<div class="profile-tile">
	<div class="profile-tile-inside">
		<p class="profile-publisher">Published {{time-ago}} ago</p>
		<img src="img/thumbs-cropped/thumb{{myNum}}.jpg" alt="">
		<h5 class="profile-title">{{title}}</h5>
	</div>
</div>