---
component: publisher-tile
---


<div class="publisher-tile">

	<a href="#">	
		<div class="publisher-inside">
			<div class="publisher-image">
				<img src="img/publishers/{{image}}.png">
			</div>
		{{!-- 	<div class="publisher-overlay"><h3>{{name}}</h3>
			<h5>{{classification}}</h5>
			</div> --}}
		</div>
	</a>
	<div class="publisher-classification">{{classification}}</div>

</div>