---
component: responsive-menu
---
<ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
  <li class="has-submenu">
    <a href="#">Landing Pages</a>
    <ul class="vertical submenu menu" data-submenu id="m2">
      <li class=""><a href="start.html">Start Page</a></li>
      <li><a href="#">Publish Page</a></li>
      <li><a href="#">Listen Page</a></li>
    </ul>
  </li>
  <li class="has-submenu">
    <a href="#">Profile Views</a>
    <ul class="vertical submenu menu" data-submenu>
      <li><a href="profile.html">Publisher</a></li>
      <li><a href="#">New Sign-Up</a></li>
    </ul>
  </li>
  <li class=""><a href="explore.html">Categories Page</a></li>
</ul>