---
component: series
---
<div class="talk-card medium-4 large-3 columns series">
	<div class="talk-card-inside">
		<img class="series-thumb" src="img/thumbs/{{image}}" alt="">
		<h5 class="title">{{title}}</h5>
		
		<div class="meta"><p class="talk-count">{{talks-count}} Talks</p>
				<p class="play-count">{{plays}} Plays</p></div>

	</div>
</div>