---
component: series
---
<div class="profile-tile">
	<div class="profile-tile-inside">
		{{!-- <p class="profile-publisher">Published {{time-ago}} ago</p> --}}
		<img src="img/thumbs/{{image}}" alt="">
		<h5 class="profile-title">{{title}}</h5>
		<p class="speaker">{{talks-count}} Talks</p>
	</div>
</div>