---
component: tab content
---
<!-- publsiher -->
{{#isnt page.type "listener"}}
<div class="tabs-content">
	<div class="content" id="upcoming">
		
		{{#withFirst thumbs 3}}
		{{>upcoming-tile}}
		{{/withFirst}}
	</div>
	<div class="content" id="upcoming-list">
		<table id="archive-table">
			<thead>
				<tr>
					<th class="thumb">Image</th>
					<th>Title</th>
					
					<th>Date</th>
				</tr>
			</thead>
			{{#withFirst thumbs 7}}
			{{>profile-row}}
			{{/withFirst}}
		</table>
		
	</div>
	
	<div class="content active" id="archived">
		
		<div class="clearfix">{{#withFirst thumbs 7}}
			{{>archive-tile}}
		{{/withFirst}}</div>
		
	</div>
	<div class="content" id="list">
		<table id="archive-table">
			<thead>
				<tr>
					<th class="thumb">Image</th>
					<th>Title</th>
					<th>Date</th>
					<th>Plays</th>
				</tr>
			</thead>
			{{#withFirst thumbs 7}}
			{{>profile-row}}
			{{/withFirst}}
		</table>
		
	</div>
	<div class="content" id="series">
		{{#each series}}
		{{>series}}
		{{/each}}
	</div>
	<div class="content" id="pinned">
		
		{{#each thumbs}}
		{{>pinned-tile}}
		{{/each}}
	</div>
</div>
{{/isnt}}
<!-- Listner -->
{{#isnt page.type "publisher"}}
<div class="tabs-content">
	<div class="content active" id="pinned">
		
		{{#each thumbs}}
		{{>pinned-tile}}
		{{/each}}
	</div>
</div>
{{/isnt}}