---
component: talk-playbar
---

<div class="row" id="talk-playbar">
	<button class="button button-playbar button-play-pause state-play"><span class="icon-uniE6BB"> </span></button>
	<span class="timecode">00:00</span>
	<div class="timeline">
		<div class="track-playing"></div>
	</div>
	<span class="timecode right">45:20</span>
		<button class="button button-playbar button-volume right hide-for-small-only"><span class="icon-uniE6BE"> </span></button>

	<div class=""></div>
</div>