---
component: talk-playbar
---

<div class="row" id="talk-playbar">
	<button class="button button-playbar button-play-pause state-play">play</button>
	<button class="button button-playbar button-volume">Vol</button>
	<div class=""></div>
</div>