---
component: talk-playbar
---

<div class="row collapse" id="talk-playbar">
	{{!-- <button class="button button-playbar button-play-pause state-play">

	<span class="icon-uniE6BB"> </span>
	<span class="icon-uniE6B8 hide"> </span>
	</button> --}}
	<div id="meter"><div id="indicator metering" class=""></div></div>
	<span class="timecode">23:15</span>
	<div class="timeline">
		<div class="track-playing track-live"></div>
	</div>
	<span class="timecode right">-36:45</span>
	<button class="button button-playbar button-volume right hide-for-small-only">
	<span class="icon-uniE6BE"> </span>
	<span class="icon-uniE6C1 hide"> </span>
	</button>
	<div class="playbar-divider"></div>
	<button data-tooltip id="view-slides2" aria-haspopup="true" data-options="disable_for_touch:true" title="View Slides" class="has-tip tip-top tip-center button button-playbar button-volume right hide-for-small-only"><span class="icon-uniE8A2"> </span></button>
	<div class=""></div>
</div>