---
component: ted-tile
---
<div class="ted-tile">
<div class="tile-image" data-bg="thumb{{myNum}}"></div>
<div class="tile-title"><h2>{{title}}</h2>
<span class="thumb-publisher"> {{ publisher }}</span>
<span class="thumb-classification"><span class="icon-{{classification}}"> </span></span>
</div>

{{!-- <div class="actions"><div class="add-to-playlist right"><span class="icon-uniE7D9"></span></div></div> --}}
</div>