---
component: topbar-search
---
<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
<div id="topbar-container" data-sticky-container >
  <div class="top-bar" id="example-menu" data-sticky data-options="marginTop:0">
    <div class="top-bar-left">
      <ul id="branding" class="menu" data-dropdown-menu>
        <li class="logo">
          <a href="start.html">
            <img class="" src="img/logo/logo-red.svg" width="60">
            <span class="show-for-large-up">VOICE REPUBLIC</span>
          </a>
        </li>
        
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="has-submenu can-hide">
          <a href="#">Listen</a>
          <ul class="submenu menu vertical" data-submenu>
            <li class="drop-title">Categories</li>
            {{#each cats}}
            <li><a href="explore.html">{{name}}</a></li>
            {{/each}}
            <li class="divider"></li>
            <li><a href="listen.html">Listen</a></li>
            <li><a href="explore.html">Explore</a></li>
          </ul>
        </li>
        <li class="can-hide">
          <a href="publish.html">Publish</a>
        </li>
        
        <li class="sign-in can-hide">
          <a href="#">Sign In</a>
        </li>
        <li class="join can-hide">
          <a href="join.html">Join for Free</a>
        </li>
        <li id="search-loupe" class="can-hide "><a href="#"><span class="icon-uniE7E9"></span></a></li>
      </ul>
      <div class="search-container hide">
        <form>
          <label><span class="icon-uniE7E9"></span></label>
          <input type="text" value="" id="search-field" class="search" placeholder="Whatchya lookin' for, cowboy?">
        </form>
        <button id="search-close" class="close-button" type="button">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>