---
component: topbar
---
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
     <a href="index.html"><img src="img/logo/logo-red.svg" width="57" height="40"></a>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {{!-- <li class=""><a href="#"><span class="icon-uniE7E9"> </span> Search</a></li> --}}
      <li class=""><a href="explore.html">Browse</a></li>
      <li class="sign-in-top"><a href="#" class="button small secondary">Sign In</a></li>
<!--       <li class="has-dropdown">
        <a href="#">
             
              <div class="avatar">
                <div class="avatar-icon">
                 <div class="sizes">  <strong class="show-for-small-only">sm</strong>
                               <strong class="show-for-medium-only">md</strong>
                               <strong class="show-for-large-only">lg</strong>
                               <strong class="show-for-xlarge-only">xl</strong>
                               <strong class="show-for-xxlarge-up">xxl</strong></div>
                </div>
              </div>
        </a>
        <ul class="dropdown">
          <li><a href="#">My Feed</a></li>
          <li class=""><a href="#">My Profile</a></li>
          <li><a href="#">My Account</a></li>
        </ul>
      </li> -->
    </ul>
 
    
  </section>
</nav>