---
component: topbar-search
---
<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li class="has-submenu">
        <a href="#">One</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>


<!-- <div class="slideUp">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="#"><img class="" src="img/logo/logo-red.svg" width="40"><span class="show-for-large-up">VOICE REPUBLIC</span></a>
    </li>

   <li class="toggle-topbar"><a href="#"><span class="icon-uniE7E9"></span> </a></li>
  </ul>
  
  <section class="top-bar-section">

    <ul class="right">
          <li><a href="#"><span class="search-line">______________</span><span class="icon-uniE7E9"></span></a></li>

      <li class="has-dropdown">
        <a href="#">Publish</a>
        <ul class="dropdown">
          <li class="title">Offers</li>
          <li><a href="#">Audio Livestream</a></li>
          <li><a href="#">Audio Upload</a></li>
          <li class="divider"></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Contact</a></li>
          <li class="divider"></li>
          <li class="title">Solutions for...</li>
          <li class=""><a href="#">Conferences</a></li>
          <li> <a href="#">Sciences &amp; Education</a></li>
          <li><a href="#">Culture</a></li>
          <li><a href="#">Technicians</a></li>
          <li><a href="#">Companies</a></li>
          <li><a href="#">Agencies</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Experts</a></li>
          <li class="divider"></li>
          <li><a href=#><strong>Start now &raquo;</strong></a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Listen</a>
        <ul class="dropdown">
          <li><a href="coming.html">Coming Up Live</a></li>
          <li class="divider"></li>
          
          <li class="title">Categories</li>
          <li><a href="talk1.html">Talk1</a></li>
          <li><a href="talk2.html">Talk2</a></li>
          <li><a href="talk3.html">Talk3</a></li>
          <li><a href="#">Politics &amp; Society</a></li>
          <li><a href="#">Sciences</a></li>
          <li><a href="#">Arts &amp; Culture</a></li>
          <li><a href="#">Technology</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Business</a></li>
          <li class="divider"></li>
          
          <li><a href="#">Voice Republic</a></li>
          <li><a href="#">Speakers</a></li>
        </ul>
      </li>
      
      <li><a href="profile-my-new.html">Sign in</a></li>
    <li><a href="#">Join for free</a></li>
    </ul>
    
  </section>
</nav>
</div> -->