---
component: topbar-search
---
<div class="slideUp">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="#"><img src="img/logo/logo-red.svg" width="40"><span class="show-for-large-up">VOICE REPUBLIC</span></a>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar"><a href="#"><span class="icon-uniE7E9"></span> </a></li>
  </ul>
  {{!-- right --}}
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
          <li><a href="#"><span class="search-line">______________</span><span class="icon-uniE7E9"></span></a></li>

      <li class="has-dropdown">
        <a href="#">Senden</a>
        <ul class="dropdown">
          <li class="title">Produkte</li>
          <li><a href="#">Livestream</a></li>
          <li><a href="#">Audio-Archiv</a></li>
          <li class="divider"></li>
          <li><a href="#">Preise</a></li>
          <li><a href="#">Hilfe</a></li>
          <li class="divider"></li>
          <li class="title">Lösungen</li>
          <li class=""><a href="#">Konferenzen</a></li>
          <li> <a href="#">Wissenschaft &amp; Bildung</a></li>
          <li><a href="#">Kultur & Events</a></li>
          <li><a href="#">Technologie</a></li>
          <li><a href="#">Unternehmen</a></li>
          <li><a href="#">Agenturen</a></li>
          <li><a href="#">Medien</a></li>
          <li class="divider"></li>
          <li><a href=#><strong>Jetzt starten &raquo;</strong></a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Hören</a>
        <ul class="dropdown">
          <li><a href="coming.html">Coming Up Live</a></li>
          <li class="divider"></li>
          
          <li class="title">Kategorien</li>
          <li><a href="index.html">Talk1</a></li>
          <li><a href="talk2.html">Talk2</a></li>
          <li><a href="#">Politik und Gesellschaft</a></li>
          <li><a href="#">Wissenschaften</a></li>
          <li><a href="#">Technologie</a></li>
          <li><a href="#">Medien</a></li>
          <li class="divider"></li>
          <li class="title">Sender</li>
          <li><a href="#">Konferenzen</a></li>
          <li><a href="#">Öffentliche Einrichtungen</a></li>
          <li><a href="#">Verbände &amp; NGOs</a></li>
          <li><a href="#">Independent</a></li>
          <li><a href="#">Wissenschaft</a></li>
        </ul>
      </li>
      <li><a href="#">Konto erstellen</a></li>
      <li><a href="profile-my-new.html">Anmelden</a></li>
    
    </ul>
    
  </section>
</nav>
</div>