---
component: topic-tile
---


<div class="topic-tile">

	<a href="results.html">	
		<div class="topic-inside">
			<div class="topic-image" data-bg="{{topic}}"></div>
			<div class="topic-overlay">{{topic}}</div>
		</div>
	</a>

</div>